@font-face {
    font-family: 'PFHighway';
    src: url('../fonts/PFHighwaySansPro-Regular.eot');
    src: url('../fonts/PFHighwaySansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFHighwaySansPro-Regular.woff2') format('woff2'),
        url('../fonts/PFHighwaySansPro-Regular.woff') format('woff'),
        url('../fonts/PFHighwaySansPro-Regular.ttf') format('truetype'),
        url('../fonts/PFHighwaySansPro-Regular.svg#PFHighwaySansPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PragmaticaLightC';
    src: url('../fonts/PragmaticaLightC.eot');
    src: url('../fonts/PragmaticaLightC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaLightC.woff2') format('woff2'),
        url('../fonts/PragmaticaLightC.woff') format('woff'),
        url('../fonts/PragmaticaLightC.ttf') format('truetype'),
        url('../fonts/PragmaticaLightC.svg#PragmaticaLightC') format('svg');
    font-weight: 300;
    font-style: normal;
}
