{% extends "layouts/default.html" %}
{% set title="Фотоотчеты" %}
{% block content %}

<div class="breadcrumbs">
	<div class="uk-container uk-container--small">
		<ul class="breadcrumbs__list">
			<li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
			<li class="breadcrumbs__item"><span href="" class="breadcrumbs__link">Фотоотчеты</span></li>
		</ul>
	</div>
</div> 

<div class="page-content">
	<div class="uk-container uk-container--small">
		<h1>Фотоотчеты</h1>
		
		<section class="section section__catalog-list">
			<div class="uk-grid">
				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>

				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>

				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>

				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>

				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>

				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-small-2-4 uk-width-large-1-4">
					<div class="card">
						<div class="card__image-wrap">
							<img class="card__image" src="img/pic-home/home-1.jpg" alt="" >
							<div class="card__label-bottom">№200</div>
						</div>
						<div class="card__descr">
							Строительство дома из бруса размером 9х9 м
							<div class="card__btn">
								<a href="foto-report-detail.html" class="button button--green">СМОТРЕТЬ<span class="icon icon-camera button__icon"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<ul class="uk-pagination pagination">
			<li class="uk-pagination-previous pagination__item--prev"><a href=""><span class="icon icon-arrow-left"></span></a></li>
		    <li class="pagination__item uk-active"><a class="pagination__link" href="">1</a></li>
		    <li class="pagination__item"><a class="pagination__link" href="">2</a></li>
		    <li class="pagination__item"><a class="pagination__link" href="">3</a></li>
		    <li class="pagination__item"><a class="pagination__link" href="">4</a></li>
		    <li class="pagination__item"><a class="pagination__link" href="">5</a></li>
		    <li class="uk-pagination-next pagination__item--next"><a href=""><span class="icon icon-arrow-right"></span></a></li>
		</ul>

	</div><!-- uk-container uk-container--small -->
	
		<hr>

		<div class="uk-container uk-container--small">
			<h2>Деревянные бани из бруса</h2>
			<p>Мечтаете о своем собственном жилье? Красивый и теплый дом из бруса – это идеальный вариант уютного гнездышка, которым можно обзавестись в весьма сжатые сроки. Уникальные свойства натуральной древесины наполняют дом невероятной атмосферой уюта. Зимой в таком доме тепло, а летом прохладно. Компания «ДревЦентр» предлагает своим клиентам лучшие дома из бруса. Высокое качество обусловлено сочетанием древнейших строительных и архитектурных традиций русских мастеров с передовыми технологиями. Это позволяет нам создавать красивые, теплые, надежные и долговечные деревянные дома из бруса. Если вам нужен жилой дом из бруса, мы с радостью предоставим вашему вниманию самые интересные проекты построек. У нас вы найдете элитный дом из бруса с мансардой или более скромные постройки эконом класса.</p>
		</div>
</div>












{% endblock %}