{% extends "layouts/default.html" %}
{% set title="Заголовок" %}
{% block content %}

<div class="breadcrumbs">
	<div class="uk-container uk-container--small">
		<ul class="breadcrumbs__list">
			<li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
			<li class="breadcrumbs__item"><span href="" class="breadcrumbs__link">Заголовок</span></li>
		</ul>
	</div>
</div>

<div class="page-content">
	<div class="uk-container uk-container--small">
		<h1 class="h1">Заголовок</h1>

	</div>
</div>
{% endblock %}

