{% extends "layouts/default.html" %}
{% set title="ДБ 35 проект дома из бруса 8х10" %}
{% block content %}

<div class="breadcrumbs">
	<div class="uk-container uk-container--small">
		<ul class="breadcrumbs__list">
			<li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
			<li class="breadcrumbs__item"><span href="" class="breadcrumbs__link">ДБ 35 проект дома из бруса 8х10</span></li>
		</ul>
	</div>
</div> 

<div class="page-content">
	<div class="uk-container uk-container--small">
		<div class="uk-grid">
			<div class="uk-width-large-3-5">
				<h1 class="h1 uk-text-uppercase">ДБ 35 ПРОЕКТ ДОМА ИЗ БРУСА 8X10</h1>
			</div>
			<div class="uk-width-large-2-5">
				<div class="turn-pages">
					<a href="" class="turn-page turn-page--left"><span class="icon icon-arrow-left turn-page__arrow-left"></span>Предыдущий проект</a>
					<a href="" class="turn-page turn-page--right">Следующий проект<span class="icon icon-arrow-right turn-page__arrow-right"></span></a>
				</div>
			</div>
		</div><!-- uk-grid -->
		
		<div class="project-detail">
			<div class="uk-grid">
				<div class="uk-width-large-1-2">
					<div class="gallery project-detail__gallery">
						<div class="gallery-slider">
							<div class="gallery-slider__wrap">
								<a href="img/gallery-slider-1.jpg" class="gallery-slider__link" data-uk-lightbox="{group:'slider-group'}">
									<img data-lazy="img/gallery-slider-1.jpg" alt="" class="gallery-slider__img">
								</a>
							</div>
							<div class="gallery-slider__wrap">
								<a href="img/gallery-slider-2.jpg" class="gallery-slider__link" data-uk-lightbox="{group:'slider-group'}">
									<img data-lazy="img/gallery-slider-2.jpg" alt="" class="gallery-slider__img">
								</a>
							</div>
							<div class="gallery-slider__wrap">
								<a href="img/gallery-slider-3.jpg" class="gallery-slider__link" data-uk-lightbox="{group:'slider-group'}">
									<img data-lazy="img/gallery-slider-3.jpg" alt="" class="gallery-slider__img">
								</a>
							</div>
							<div class="gallery-slider__wrap">
								<a href="img/gallery-slider-4.jpg" class="gallery-slider__link" data-uk-lightbox="{group:'slider-group'}">
									<img data-lazy="img/gallery-slider-4.jpg" alt="" class="gallery-slider__img">
								</a>
							</div>
						</div>
						<div class="gallery-thumb">
							<div class="gallery-thumb__wrap">
								<img data-lazy="img/gallery-thumb-1.jpg" alt="" class="gallery-thumb__img">
							</div>
							<div class="gallery-thumb__wrap">
								<img data-lazy="img/gallery-thumb-2.jpg" alt="" class="gallery-thumb__img">
							</div>
							<div class="gallery-thumb__wrap">
								<img data-lazy="img/gallery-thumb-3.jpg" alt="" class="gallery-thumb__img">
							</div>
							<div class="gallery-thumb__wrap">
								<img data-lazy="img/gallery-thumb-3.jpg" alt="" class="gallery-thumb__img">
							</div>
						</div>
					</div>

					<div class="price uk-hidden-large" data-uk-sticky>
						<div class="price__top">
							<div class="price__value-wrap">
								Цена: <span class="price__value">505 000</span>&nbsp;р.
							</div>
							<div class="price__btn-wrap">
								<button class="button button--orange price__button" data-uk-modal="{target:'#toOrder'}">ЗАКАЗАТЬ</button>
							</div>							
						</div>
						<div class="price__options">
							Обрезной брус 150х150 мм, кровля рубероид, фундамент заказчика
						</div>
					</div><!-- price -->
					<div class="general project-detail__general uk-hidden-large">
						<div class="general__row">
							<div class="general__title">Общая площадь дома</div>
							<div class="general__value">70 м2</div>
						</div>
						<div class="general__row">
							<div class="general__title">Размер дома по периметру</div>
							<div class="general__value">8X10 м</div>
						</div>
					</div><!-- general project-detail__general -->
					
					<div class="plan project-detail__plan">
						<h2 class="plan__title uk-text-center">План 1 этажа</h2>
						<div class="plan__image-wrap">
							<a href="img/plan/plan-1.jpg" class="plan__link" data-uk-lightbox="{group:'plan-group'}">
								<img src="img/plan/plan-1.jpg" alt="" class="plan__img">
							</a>
						</div>
					</div>
					<div class="plan project-detail__plan">
						<h2 class="plan__title uk-text-center">План 2 этажа</h2>
						<div class="plan__image-wrap">
							<a href="img/plan/plan-2.jpg" class="plan__link" data-uk-lightbox="{group:'plan-group'}">
								<img src="img/plan/plan-2.jpg" alt="" class="plan__img">
							</a>
						</div>
					</div>

					<div class="project-detail__btn-wrap">
						<button class="button button--red project-detail__button">
							<span class="icon icon-letter button__icon button__icon--left button-icon--left"></span>
							<span class="project-detail__button-text">Отправить проект на email</span>
						</button>
						<button class="button button--orange project-detail__button" href="" >
							<span class="icon icon-heart button__icon button__icon--left button-icon--left"></span>
							<span class="project-detail__button-text">Добавить страницу в избранное</span>
						</button>
						<button class="button button--green project-detail__button" data-uk-modal="{target:'#askQuestion'}">
							<span class="icon icon-comment button__icon button__icon--left button-icon--left"></span>
							<span class="project-detail__button-text">Задать вопрос специалисту</span>
						</button>
					</div><!-- project-detail__btn-wrap -->

					<div class="slider project-detail__foto-report">
						<h2 class="project-detail__foto-report-title uk-text-center">Фотоотчеты домов по проекту ДБ1</h2>
						<div class="foto-slider--detail">
							<div class="foto-slider__block">
								<div class="card">
									<div class="card__image-wrap">
										<img class="card__image" data-lazy="img/foto-home/foto-home-1.jpg" alt="" >
										<div class="card__label-bottom">№203</div>
									</div>
									<div class="card__descr">
										Строительство дома из бруса размером 9х9 м. в  
										<div class="card__btn">
											<a href="foto-report-detail.html" class="button button--green"> СМОТРЕТЬ <span class="icon icon-camera button__icon"></span></a>
										</div>
									</div>
								</div>
							</div>

							<div class="foto-slider__block">
								<div class="card">
									<div class="card__image-wrap">
										<img class="card__image" data-lazy="img/foto-home/foto-home-1.jpg" alt="" >
										<div class="card__label-bottom">№203</div>
									</div>
									<div class="card__descr">
										Строительство дома из бруса размером 9х9 м. в  
										<div class="card__btn">
											<a href="foto-report-detail.html" class="button button--green"> СМОТРЕТЬ <span class="icon icon-camera button__icon"></span></a>
										</div>
									</div>
								</div>
							</div>

							<div class="foto-slider__block">
								<div class="card">
									<div class="card__image-wrap">
										<img class="card__image" data-lazy="img/foto-home/foto-home-1.jpg" alt="" >
										<div class="card__label-bottom">№203</div>
									</div>
									<div class="card__descr">
										Строительство дома из бруса размером 9х9 м. в  
										<div class="card__btn">
											<a href="foto-report-detail.html" class="button button--green"> СМОТРЕТЬ <span class="icon icon-camera button__icon"></span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="project-detail__descr">
						<p>Лучший проект дома из бруса 8х10 общей площадью 129 кв.м. подойдет как для сезонного, так и для постоянного проживания большой семьи. Обратите внимание на удобную планировку этого дома. На первом этаже находится огромная гостиная, вместительная кухня, санузел, спальня , по желанию, можно оборудовать эту комнату, например, в кабинет или библиотеку. Первый этаж также предусматривает наличие котельной. На втором этаже размещены три большие спальни, холл, для удобства - еще один санузел. к дому примыкает просторная терраса, при желании её можно закрыть, тем самым увеличить жилое пространство дома.</p>
					</div>
				</div><!-- uk-width-large-1-2 -->
				


				<div class="uk-width-large-1-2">
					<div class="price uk-visible-large" data-uk-sticky>
						<div class="price__top">
							<div class="price__value-wrap">
								Цена: <span class="price__value">505 000</span>&nbsp;р.
							</div>
							<div class="price__btn-wrap">
								<button class="button button--orange price__button" data-uk-modal="{target:'#toOrder'}">ЗАКАЗАТЬ</button>
							</div>							
						</div>
						<div class="price__options">
							Обрезной брус 150х150 мм, кровля рубероид, фундамент заказчика
						</div>
					</div><!-- price -->

					<div class="general project-detail__general uk-visible-large">
						<div class="general__row">
							<div class="general__title">Общая площадь дома</div>
							<div class="general__value">70 м2</div>
						</div>
						<div class="general__row">
							<div class="general__title">Размер дома по периметру</div>
							<div class="general__value">8X10 м</div>
						</div>
					</div><!-- general project-detail__general -->

					<div class="equipment project-detail__equipment">
						<h2 class="color--orange">Выберите комплектацию:</h2>
						<div class="equipment-block">
							<div class="equipment-block__title">Выбор бруса</div>
							<!-- <div class="equipment-block__row"> -->
								<div class="equipment-block__radio-wrap">
									<input type="radio" class="radio" name="eq1" id="r1">
									<label for="r1" class="radio-label label-table equipment-block__radio-label">
										<span class="label-table__cell label-table__cell--text">Обрезной брус 150х150 мм</span>
										<span class="label-table__cell label-table__cell--tooltip"><span class="icon icon-question" data-uk-tooltip title="текст тултипа"></span></span>
										<span class="label-table__cell label-table__cell--price"><span class="equipment-block__price">505000</span>&nbsp;р.</span>
									</label>									
								</div>

								<div class="equipment-block__radio-wrap">
									<input type="radio" class="radio" name="eq1" id="r2">
									<label for="r2" class="radio-label label-table equipment-block__radio-label">
										<span class="label-table__cell label-table__cell--text">Профилированный брус 145х145 мм</span>
										<span class="label-table__cell label-table__cell--tooltip"><span class="icon icon-question" data-uk-tooltip title="текст тултипа"></span></span>
										<span class="label-table__cell label-table__cell--price"><span class="equipment-block__price">615000</span>&nbsp;р.</span>
									</label>									
								</div>

								<div class="equipment-block__radio-wrap">
									<input type="radio" class="radio" name="eq1" id="r3">
									<label for="r3" class="radio-label label-table equipment-block__radio-label">
										<span class="label-table__cell label-table__cell--text">Профилированный брус 145х195 мм</span>
										<span class="label-table__cell label-table__cell--tooltip"><span class="icon icon-question" data-uk-tooltip title="текст тултипа"></span></span>
										<span class="label-table__cell label-table__cell--price"><span class="equipment-block__price">676000</span>&nbsp;р.</span>
									</label>									
								</div>
							<!-- </div> -->
						</div><!-- equipment-block -->	

						<div class="equipment-block">
							<div class="equipment-block__title">Выбор фундамента</div>
							<!-- <div class="equipment-block__row"> -->
								<div class="equipment-block__radio-wrap">
									<input type="radio" class="radio" name="eq2" id="r4">
									<label for="r4" class="radio-label label-table equipment-block__radio-label">
										<span class="label-table__cell label-table__cell--text">Есть фундамент</span>
										<span class="label-table__cell label-table__cell--tooltip"><span class="icon icon-question" data-uk-tooltip title="текст тултипа"></span></span>
										<span class="label-table__cell label-table__cell--price"><span class="equipment-block__price">0</span>&nbsp;р.</span>
									</label>									
								</div>

								<div class="equipment-block__radio-wrap">
									<input type="radio" class="radio" name="eq2" id="r5">
									<label for="r5" class="radio-label label-table equipment-block__radio-label">
										<span class="label-table__cell label-table__cell--text">Свайно-винтовой фундамент</span>
										<span class="label-table__cell label-table__cell--tooltip"><span class="icon icon-question" data-uk-tooltip title="текст тултипа"></span></span>
										<span class="label-table__cell label-table__cell--price"><span class="equipment-block__price">376000</span>&nbsp;р.</span>
									</label>
									<div class="equipment-block__checkbox-wrap">
										<div class="checkbox">
											<input type="checkbox" class="checkbox__input" id="ch1">
											<label for="ch1" class="checkbox__label label-table">
												<span class="label-table__cell label-table__cell--text">Обвязка из бруса 150х200 мм</span>
												<span class="label-table__cell label-table__cell--tooltip"></span>
												<span class="label-table__cell label-table__cell--price"><span class="equipment-block__price">10000</span>&nbsp;р.</span>
											</label>
										</div>
									</div>
								</div>

								<div class="equipment-block__radio-wrap">
									<input type="radio" class="radio" name="eq2" id="r6">
									<label for="r6" class="radio-label label-table equipment-block__radio-label">
										<span class="label-table__cell label-table__cell--text">Ленточный фундамент</span>
										<span class="label-table__cell label-table__cell--tooltip"><span class="icon icon-question" data-uk-tooltip title="текст тултипа"></span></span>
										<span class="label-table__cell label-table__cell--price"><span class="equipment-block__price">215000</span>&nbsp;р.</span>
									</label>									
								</div>

								<div class="equipment-block__radio-wrap">
									<input type="radio" class="radio" name="eq2" id="r7">
									<label for="r7" class="radio-label label-table equipment-block__radio-label">
										<span class="label-table__cell label-table__cell--text">Ж/б свайный фундамент</span>
										<span class="label-table__cell label-table__cell--tooltip"><span class="icon icon-question" data-uk-tooltip title="текст тултипа"></span></span>
										<span class="label-table__cell label-table__cell--price"><span class="equipment-block__price">376000</span>&nbsp;р.</span>
									</label>
									<div class="equipment-block__checkbox-wrap">
										<div class="checkbox">
											<input type="checkbox" class="checkbox__input" id="ch2">
											<label for="ch2" class="checkbox__label label-table">
												<span class="label-table__cell label-table__cell--text">Обвязка из бруса 150х200 мм</span>
												<span class="label-table__cell label-table__cell--tooltip"></span>
												<span class="label-table__cell label-table__cell--price"><span class="equipment-block__price">10000</span>&nbsp;р.</span>
											</label>
										</div>
									</div>									
								</div>
							<!-- </div> -->
						</div><!-- equipment-block -->		

						<div class="equipment-block">
							<div class="equipment-block__title">Выбор материала кровли</div>
							<!-- <div class="equipment-block__row"> -->
								<div class="equipment-block__radio-wrap">
									<input type="radio" class="radio" name="eq3" id="r8">
									<label for="r8" class="radio-label label-table equipment-block__radio-label">
										<span class="label-table__cell label-table__cell--text">Рубероид</span>
										<span class="label-table__cell label-table__cell--tooltip"><span class="icon icon-question" data-uk-tooltip title="текст тултипа"></span></span>
										<span class="label-table__cell label-table__cell--price"><span class="equipment-block__price">0</span>&nbsp;р.</span>
									</label>									
								</div>

								<div class="equipment-block__radio-wrap">
									<input type="radio" class="radio" name="eq3" id="r9">
									<label for="r9" class="radio-label label-table equipment-block__radio-label">
										<span class="label-table__cell label-table__cell--text">Ондулин</span>
										<span class="label-table__cell label-table__cell--tooltip"><span class="icon icon-question" data-uk-tooltip title="текст тултипа"></span></span>
										<span class="label-table__cell label-table__cell--price"><span class="equipment-block__price">215000</span>&nbsp;р.</span>
									</label>									
								</div>

								<div class="equipment-block__radio-wrap">
									<input type="radio" class="radio" name="eq3" id="r10">
									<label for="r10" class="radio-label label-table equipment-block__radio-label">
										<span class="label-table__cell label-table__cell--text">Профлист</span>
										<span class="label-table__cell label-table__cell--tooltip"><span class="icon icon-question" data-uk-tooltip title="текст тултипа"></span></span>
										<span class="label-table__cell label-table__cell--price"><span class="equipment-block__price">376000</span>&nbsp;р.</span>
									</label>									
								</div>

								<div class="equipment-block__radio-wrap">
									<input type="radio" class="radio" name="eq3" id="r11">
									<label for="r11" class="radio-label label-table equipment-block__radio-label">
										<span class="label-table__cell label-table__cell--text">Металлочерепица</span>
										<span class="label-table__cell label-table__cell--tooltip"><span class="icon icon-question" data-uk-tooltip title="текст тултипа"></span></span>
										<span class="label-table__cell label-table__cell--price"><span class="equipment-block__price">434000</span>&nbsp;р.</span>
									</label>									
								</div>
							<!-- </div> -->
						</div><!-- equipment-block -->		

					</div><!-- equipment project-detail__equipment -->

					<div class="include project-detail__include">
						<h2 class="color--orange">Выбранная вами комплектация будет включать:</h2>
					</div>
					<div class="uk-overflow-container">
						<table class="table uk-table-striped table-include">
							<tr class="table-include__row">
								<td class="table-include__cell">Высота первого этажа</td>
								<td class="table-include__cell">2,7 м</td>
							</tr>
							<tr class="table-include__row">
								<td class="table-include__cell">Высота второго этажа</td>
								<td class="table-include__cell">2,5 м</td>
							</tr>
							<tr class="table-include__row">
								<td class="table-include__cell">Материал наружных стен дома</td>
								<td class="table-include__cell">Обрезной брус<br>150х150 мм</span></td>
							</tr>
							<tr class="table-include__row">
								<td class="table-include__cell">Внутренние перегородки 1-го этажа</td>
								<td class="table-include__cell">Обрезной брус<br>150х150 мм</span></td>
							</tr>
							<tr class="table-include__row">
								<td class="table-include__cell">Внутренние перегородки 2-го этажа</td>
								<td class="table-include__cell">-</td>
							</tr>
							<tr class="table-include__row">
								<td class="table-include__cell">Половые и потолочные балки (лаги)</td>
								<td class="table-include__cell">Брус<br>100х150мм, шаг 590 ммм</span></td>
							</tr>
							<tr class="table-include__row">
								<td class="table-include__cell">Стропильная конструкция (стропила, стойки, ригеля)</td>
								<td class="table-include__cell">Брус<br>50х150 мм</span></td>
							</tr>
							<tr class="table-include__row">
								<td class="table-include__cell">Обрешетка крыши</td>
								<td class="table-include__cell">Доска обрезная<br>25х15</span></td>
							</tr>
							<tr class="table-include__row">
								<td class="table-include__cell">Фронтоны крыши</td>
								<td class="table-include__cell">Доска обрезная<br>25х15</span></td>
							</tr>
							<tr class="table-include__row">
								<td class="table-include__cell">Межвенцовый утеплитель</td>
								<td class="table-include__cell">Льноволокно<br>толщина 4-6 м</span></td>
							</tr>
							<tr class="table-include__row">
								<td class="table-include__cell">Гидроизоляция фундамента</td>
								<td class="table-include__cell">Гидроизол</td>
							</tr>
							<tr class="table-include__row">
								<td class="table-include__cell">Крепление венцов</td>
								<td class="table-include__cell">Березовые нагеля<br>круглые</span></td>
							</tr>
							<tr class="table-include__row">
								<td class="table-include__cell">Кровля</td>
								<td class="table-include__cell">Руберойд</td>
							</tr>
							<tr class="table-include__row">
								<td class="table-include__cell">Антисептирование (нижний венец, половые лаги)</td>
								<td class="table-include__cell">Антисептик<br>типа “Сенеж”</span></td>
							</tr>
						</table>
					</div>
					<p style="color: red">В данную комплектацию “под усадку” не входит стоимость чистовой отделки дома, которая выполняется после усадки дома через 6-12 месяцев и рассчитывается индивидуально с каждым клиентом.</p>

					<a href="" class="button button--green project-detail__button">Смотреть технологию строительства</a>
				</div><!-- uk-width-large-1-2 -->
			</div><!-- uk-grid -->
		</div><!-- project-detail -->

	</div><!-- uk-container uk-container--small -->
</div><!-- page-content -->

         

{% endblock %}