{% extends "layouts/default.html" %}
{% set title="Наши услуги" %}
{% block content %}

<div class="breadcrumbs">
	<div class="uk-container uk-container--small">
		<ul class="breadcrumbs__list">
			<li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
			<li class="breadcrumbs__item"><span href="" class="breadcrumbs__link">Наши услуги</span></li>
		</ul>
	</div>
</div> 


<div class="page-content">
	<div class="uk-container uk-container--small">
		<h1 class="h1">Наши услуги</h1>

		<div class="uk-grid">
			<div class="uk-width-medium-1-1 uk-width-large-1-2">
				<a href="services-detail.html" class="service-card">
					<div class="uk-grid uk-grid-collapse">
						<div class="uk-width-medium-1-2">
							<div class="service-card__image-wrap">
								<img src="img/service-card-1.jpg" alt="" class="service-card__img">
							</div>
						</div>
						<div class="uk-width-medium-1-2">
							<div class="service-card__content">
								<div class="service-card__text">
									<div class="service-card__title">Свайно-винтовые фундаменты</div>
									<p class="service-card__descr">Каждый человек, живущий в большом и шумном городе, нуждается в тишине, покое и отдыхе. Достаточно </p>
								</div>
								<div class="service-card__more">подробнее</div>
							</div>
						</div>
					</div>
				</a>
			</div><!-- uk-width-medium-1-2 -->

			<div class="uk-width-medium-1-1 uk-width-large-1-2">
				<a href="services-detail.html" class="service-card">
					<div class="uk-grid uk-grid-collapse">
						<div class="uk-width-medium-1-2">
							<div class="service-card__image-wrap">
								<img src="img/service-card-2.jpg" alt="" class="service-card__img">
							</div>
						</div>
						<div class="uk-width-medium-1-2">
							<div class="service-card__content">
								<div class="service-card__text">
									<div class="service-card__title">Брусовые дома</div>
									<p class="service-card__descr">Каждый человек, живущий в большом и шумном городе, нуждается в тишине, покое и отдыхе. Достаточно </p>
								</div>
								<div class="service-card__more">подробнее</div>
							</div>
						</div>
					</div>
				</a>
			</div><!-- uk-width-medium-1-2 -->

			<div class="uk-width-medium-1-1 uk-width-large-1-2">
				<a href="services-detail.html" class="service-card">
					<div class="uk-grid uk-grid-collapse">
						<div class="uk-width-medium-1-2">
							<div class="service-card__image-wrap">
								<img src="img/service-card-3.jpg" alt="" class="service-card__img">
							</div>
						</div>
						<div class="uk-width-medium-1-2">
							<div class="service-card__content">
								<div class="service-card__text">
									<div class="service-card__title">Ленточный фундамент</div>
									<p class="service-card__descr">Каждый человек, живущий в большом и шумном городе, нуждается в тишине, покое и отдыхе. Достаточно </p>
								</div>
								<div class="service-card__more">подробнее</div>
							</div>
						</div>
					</div>
				</a>
			</div><!-- uk-width-medium-1-2 -->

			<div class="uk-width-medium-1-1 uk-width-large-1-2">
				<a href="services-detail.html" class="service-card">
					<div class="uk-grid uk-grid-collapse">
						<div class="uk-width-medium-1-2">
							<div class="service-card__image-wrap">
								<img src="img/service-card-4.jpg" alt="" class="service-card__img">
							</div>
						</div>
						<div class="uk-width-medium-1-2">
							<div class="service-card__content">
								<div class="service-card__text">
									<div class="service-card__title">Строительство бань</div>
									<p class="service-card__descr">Каждый человек, живущий в большом и шумном городе, нуждается в тишине, покое и отдыхе. Достаточно </p>
								</div>
								<div class="service-card__more">подробнее</div>
							</div>
						</div>
					</div>
				</a>
			</div><!-- uk-width-medium-1-2 -->

			<div class="uk-width-medium-1-1 uk-width-large-1-2">
				<a href="services-detail.html" class="service-card">
					<div class="uk-grid uk-grid-collapse">
						<div class="uk-width-medium-1-2">
							<div class="service-card__image-wrap">
								<img src="img/service-card-5.jpg" alt="" class="service-card__img">
							</div>
						</div>
						<div class="uk-width-medium-1-2">
							<div class="service-card__content">
								<div class="service-card__text">
									<div class="service-card__title">Кровельные работы</div>
									<p class="service-card__descr">Каждый человек, живущий в большом и шумном городе, нуждается в тишине, покое и отдыхе. Достаточно </p>
								</div>
								<div class="service-card__more">подробнее</div>
							</div>
						</div>
					</div>
				</a>
			</div><!-- uk-width-medium-1-2 -->

			<div class="uk-width-medium-1-1 uk-width-large-1-2">
				<a href="services-detail.html" class="service-card">
					<div class="uk-grid uk-grid-collapse">
						<div class="uk-width-medium-1-2">
							<div class="service-card__image-wrap">
								<img src="img/service-card-6.jpg" alt="" class="service-card__img">
							</div>
						</div>
						<div class="uk-width-medium-1-2">
							<div class="service-card__content">
								<div class="service-card__text">
									<div class="service-card__title">Дома из профилированного бруса</div>
									<p class="service-card__descr">Каждый человек, живущий в большом и шумном городе, нуждается в тишине, покое и отдыхе. Достаточно </p>
								</div>
								<div class="service-card__more">подробнее</div>
							</div>
						</div>
					</div>
				</a>
			</div><!-- uk-width-medium-1-2 -->

			<div class="uk-width-medium-1-1 uk-width-large-1-2">
				<a href="services-detail.html" class="service-card">
					<div class="uk-grid uk-grid-collapse">
						<div class="uk-width-medium-1-2">
							<div class="service-card__image-wrap">
								<img src="img/service-card-7.jpg" alt="" class="service-card__img">
							</div>
						</div>
						<div class="uk-width-medium-1-2">
							<div class="service-card__content">
								<div class="service-card__text">
									<div class="service-card__title">Виды кровли</div>
									<p class="service-card__descr">Каждый человек, живущий в большом и шумном городе, нуждается в тишине, покое и отдыхе. Достаточно </p>
								</div>
								<div class="service-card__more">подробнее</div>
							</div>
						</div>
					</div>
				</a>
			</div><!-- uk-width-medium-1-2 -->

		</div><!-- uk-grid -->

		
	</div><!-- uk-container uk-container--small -->

	<hr>

	<div class="uk-container uk-container--small">
		<h2 class="uk-text-center">Популярные проекты</h2>
		
		<div class="slider project-slider">
			<div class="project-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/pic-home/home-1.jpg" alt="" >
						<div class="card__label-top">111 м2</div>
						<div class="card__label-bottom">390 000 руб</div>
					</div>
					<div class="card__descr">
						ДБ 24 Проект дома из бруса 6x12
						<div class="card__btn">
							<a href="project-detail.html" class="button button--green">СМОТРЕТЬ</a>
						</div>
					</div>
				</div>
			</div>
			<div class="project-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/pic-home/home-1.jpg" alt="" >
						<div class="card__label-top">111 м2</div>
						<div class="card__label-bottom">390 000 руб</div>
					</div>
					<div class="card__descr">
						ДБ 24 Проект дома из бруса 6x12
						<div class="card__btn">
							<a href="project-detail.html" class="button button--green">СМОТРЕТЬ</a>
						</div>
					</div>
				</div>
			</div>
			<div class="project-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/pic-home/home-1.jpg" alt="" >
						<div class="card__label-top">111 м2</div>
						<div class="card__label-bottom">390 000 руб</div>
					</div>
					<div class="card__descr">
						ДБ 24 Проект дома из бруса 6x12
						<div class="card__btn">
							<a href="project-detail.html" class="button button--green">СМОТРЕТЬ</a>
						</div>
					</div>
				</div>
			</div>
			<div class="project-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/pic-home/home-1.jpg" alt="" >
						<div class="card__label-top">111 м2</div>
						<div class="card__label-bottom">390 000 руб</div>
					</div>
					<div class="card__descr">
						ДБ 24 Проект дома из бруса 6x12
						<div class="card__btn">
							<a href="project-detail.html" class="button button--green">СМОТРЕТЬ</a>
						</div>
					</div>
				</div>
			</div>
			<div class="project-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/pic-home/home-1.jpg" alt="" >
						<div class="card__label-top">111 м2</div>
						<div class="card__label-bottom">390 000 руб</div>
					</div>
					<div class="card__descr">
						ДБ 24 Проект дома из бруса 6x12 
						<div class="card__btn">
							<a href="project-detail.html" class="button button--green">СМОТРЕТЬ</a>
						</div>
					</div>
				</div>
			</div>
		</div><!-- slider project-slider -->		
	</div>

</div><!-- page-content -->




{% endblock %}