{% extends "layouts/default.html" %}
{% set title="Свайно-винтовые фундаменты" %}
{% block content %}

<div class="breadcrumbs">
	<div class="uk-container uk-container--small">
		<ul class="breadcrumbs__list">
			<li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
			<li class="breadcrumbs__item"><span href="" class="breadcrumbs__link">Наши услуги</span></li>
		</ul>
	</div>
</div> 

<div class="page-content">
	<div class="uk-container uk-container--small">
		<h1 class="h1">Свайно-винтовые фундаменты</h1>
		<p>Одним из типов фундамента, на которых ставятся дома из бруса, является свайно-винтовой. Изготовление и устройство свайно-винтового фундамента является одним из направлений деятельности строительной компании «ДревЦентр»,  основным же строительство домов из бруса.  Накопленный годами опыт позволяет учитывать все тонкости строения  фундамента и возводить его быстро и грамотно. Сфера применения винтовых свай достаточно широка и не является прерогативой только деревянного домостроения.</p>
		<div class="gallery-inner">
			<div class="uk-grid">
				<div class="uk-width-medium-1-2">
					<a href="img/service-detail-1.jpg" data-uk-lightbox="{group:'gallery-inner'}" title="Винтовые сваи со сварным наконечником">
						<img src="img/service-detail-1.jpg" alt="">						
					</a>
					<p>Винтовые сваи со сварным наконечником</p>				
				</div>
				<div class="uk-width-medium-1-2">
					<a href="img/service-detail-2.jpg" data-uk-lightbox="{group:'gallery-inner'}" title="Обвязка из бруса по винтовым сваям">
						<img src="img/service-detail-2.jpg" alt="">						
					</a>
					<p>Обвязка из бруса по винтовым сваям</p>				
				</div>
			</div>			
		</div>

		<div class="gallery-inner">
			<div class="uk-grid">
				<div class="uk-width-medium-1-2">
					<a href="img/service-detail-1.jpg" data-uk-lightbox="{group:'gallery-inner'}" title="Винтовые сваи со сварным наконечником">
						<img src="img/service-detail-1.jpg" alt="">						
					</a>
					<p>Винтовые сваи со сварным наконечником</p>				
				</div>
				<div class="uk-width-medium-1-2">
					<a href="img/service-detail-2.jpg" data-uk-lightbox="{group:'gallery-inner'}" title="Обвязка из бруса по винтовым сваям">
						<img src="img/service-detail-2.jpg" alt="">						
					</a>
					<p>Обвязка из бруса по винтовым сваям</p>				
				</div>
			</div>			
		</div>

		<h2>Винтовые сваи – сфера применения:</h2>
		<p>Деревянное домостроение всех типов<br>
		При благоустройстве дачного участка: беседки, веранды, террасы<br>
		Конструкции у водоемов: причалы, пирсы<br>
		Временные некапитальные строения<br>
		Винтовые сваи – особенности <br>
		Свая представляет собой конструкцию, состоящую из стальной трубы, к одному концу которой приварена спиральная лопасть, а другая в виде острого наконечника. Назначение лопасти в том,  чтобы давление сваи на грунт осуществлялось равномерно и в холодный сезон свая не выталкивалась бы наружу. свайно винтовой фундамент</p>
		<p>Технологических различий у свай, которые используются при строительстве дома из бруса, нет. По способу производства сваи делятся на: литые, комбинированные и сварные. Те же самые сваи используются и при строительстве пирсов, отличия только в размерах. Так длина свай может колебаться от полутора метров, до пяти, а диаметр ствола от пяти до десяти см.</p>

	</div>

	<hr>

	<div class="uk-container uk-container--small">

		<h2>Наши проекты</h2>
		
		<div class="slider project-slider">
			<div class="project-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/pic-home/home-1.jpg" alt="" >
						<div class="card__label-top">111 м2</div>
						<div class="card__label-bottom">390 000 руб</div>
					</div>
					<div class="card__descr">
						ДБ 24 Проект дома из бруса 6x12
						<div class="card__btn">
							<a href="project-detail.html" class="button button--green">СМОТРЕТЬ</a>
						</div>
					</div>
				</div>
			</div>
			<div class="project-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/pic-home/home-1.jpg" alt="" >
						<div class="card__label-top">111 м2</div>
						<div class="card__label-bottom">390 000 руб</div>
					</div>
					<div class="card__descr">
						ДБ 24 Проект дома из бруса 6x12
						<div class="card__btn">
							<a href="project-detail.html" class="button button--green">СМОТРЕТЬ</a>
						</div>
					</div>
				</div>
			</div>
			<div class="project-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/pic-home/home-1.jpg" alt="" >
						<div class="card__label-top">111 м2</div>
						<div class="card__label-bottom">390 000 руб</div>
					</div>
					<div class="card__descr">
						ДБ 24 Проект дома из бруса 6x12
						<div class="card__btn">
							<a href="project-detail.html" class="button button--green">СМОТРЕТЬ</a>
						</div>
					</div>
				</div>
			</div>
			<div class="project-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/pic-home/home-1.jpg" alt="" >
						<div class="card__label-top">111 м2</div>
						<div class="card__label-bottom">390 000 руб</div>
					</div>
					<div class="card__descr">
						ДБ 24 Проект дома из бруса 6x12
						<div class="card__btn">
							<a href="project-detail.html" class="button button--green">СМОТРЕТЬ</a>
						</div>
					</div>
				</div>
			</div>
			<div class="project-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/pic-home/home-1.jpg" alt="" >
						<div class="card__label-top">111 м2</div>
						<div class="card__label-bottom">390 000 руб</div>
					</div>
					<div class="card__descr">
						ДБ 24 Проект дома из бруса 6x12 
						<div class="card__btn">
							<a href="project-detail.html" class="button button--green">СМОТРЕТЬ</a>
						</div>
					</div>
				</div>
			</div>
		</div><!-- slider project-slider -->



		<h2>Фотоотчеты</h2>
		
		<div class="slider foto-slider">
			<div class="foto-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/foto-home/foto-home-1.jpg" alt="" >
						<div class="card__label-bottom">№203</div>
					</div>
					<div class="card__descr">
						Строительство дома из бруса размером 9х9 м. в 
						<div class="card__btn">
							<a href="foto-report-detail.html" class="button button--green"> СМОТРЕТЬ <span class="icon icon-camera button__icon"></span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="foto-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/foto-home/foto-home-1.jpg" alt="" >
						<div class="card__label-bottom">№203</div>
					</div>
					<div class="card__descr">
						Строительство дома из бруса размером 9х9 м. в 
						<div class="card__btn">
							<a href="foto-report-detail.html" class="button button--green"> СМОТРЕТЬ <span class="icon icon-camera button__icon"></span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="foto-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/foto-home/foto-home-1.jpg" alt="" >
						<div class="card__label-bottom">№203</div>
					</div>
					<div class="card__descr">
						Строительство дома из бруса размером 9х9 м. в 
						<div class="card__btn">
							<a href="foto-report-detail.html" class="button button--green"> СМОТРЕТЬ <span class="icon icon-camera button__icon"></span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="foto-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/foto-home/foto-home-1.jpg" alt="" >
						<div class="card__label-bottom">№203</div>
					</div>
					<div class="card__descr">
						Строительство дома из бруса размером 9х9 м. в 
						<div class="card__btn">
							<a href="foto-report-detail.html" class="button button--green"> СМОТРЕТЬ <span class="icon icon-camera button__icon"></span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="foto-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/foto-home/foto-home-1.jpg" alt="" >
						<div class="card__label-bottom">№203</div>
					</div>
					<div class="card__descr">
						Строительство дома из бруса размером 9х9 м. в  
						<div class="card__btn">
							<a href="foto-report-detail.html" class="button button--green"> СМОТРЕТЬ <span class="icon icon-camera button__icon"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div><!-- slider foto-slider -->
	</div>

</div>











{% endblock %}