{% extends "layouts/default.html" %}
{% set title="Видео отзывы на проект ДБ1" %}
{% block content %}

<div class="breadcrumbs">
	<div class="uk-container uk-container--small">
		<ul class="breadcrumbs__list">
			<li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
			<li class="breadcrumbs__item"><span href="" class="breadcrumbs__link">Видео отзывы</span></li>
		</ul>
	</div>
</div> 


<div class="page-content">
	<div class="uk-container uk-container--small">
		<div class="uk-grid">
			<div class="uk-width-large-3-5">
				<h1 class="h1">Видео отзывы на проект ДБ1</h1>
			</div>
			<div class="uk-width-large-2-5">
				<div class="turn-pages">
					<a href="" class="turn-page turn-page--left"><span class="icon icon-arrow-left turn-page__arrow-left"></span>Предыдущий проект</a>
					<a href="" class="turn-page turn-page--right">Следующий проект<span class="icon icon-arrow-right turn-page__arrow-right"></span></a>
				</div>
			</div>
		</div><!-- uk-grid -->

		<div class="uk-grid">
			<div class="uk-width-medium-3-5">
				<div class="youtube-video">
					<iframe min-width="520" height="315" src="https://www.youtube.com/embed/uoNgKkhn_EU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>					
				</div>
			</div>
			<div class="uk-width-medium-2-5">
				<p>Лучший проект дома из бруса 8х10 общей площадью 129 кв.м. подойдет как для сезонного, так и для постоянного проживания большой семьи. Обратите внимание на удобную планировку этого дома. На первом этаже находится огромная гостиная, вместительная кухня, санузел, спальня , по желанию, можно оборудовать эту комнату, например, в кабинет или библиотеку. Первый этаж также предусматривает наличие котельной. На втором этаже размещены три большие спальни, холл, для удобства - еще один санузел. к дому примыкает просторная терраса, при желании её можно закрыть, тем самым увеличить жилое пространство дома.</p>
			</div>
		</div>
		
	</div><!-- uk-container uk-container--small -->

	<hr>

	<div class="uk-container uk-container--small">
		<h2>Фотоотчеты на проект ДБ1</h2>
		
		<div class="slider foto-slider">
			<div class="foto-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/foto-home/foto-home-1.jpg" alt="" >
						<div class="card__label-bottom">№203</div>
					</div>
					<div class="card__descr">
						Строительство дома из бруса размером 9х9 м. в 
						<div class="card__btn">
							<a href="foto-report-detail.html" class="button button--green"> СМОТРЕТЬ <span class="icon icon-camera button__icon"></span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="foto-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/foto-home/foto-home-1.jpg" alt="" >
						<div class="card__label-bottom">№203</div>
					</div>
					<div class="card__descr">
						Строительство дома из бруса размером 9х9 м. в 
						<div class="card__btn">
							<a href="foto-report-detail.html" class="button button--green"> СМОТРЕТЬ <span class="icon icon-camera button__icon"></span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="foto-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/foto-home/foto-home-1.jpg" alt="" >
						<div class="card__label-bottom">№203</div>
					</div>
					<div class="card__descr">
						Строительство дома из бруса размером 9х9 м. в 
						<div class="card__btn">
							<a href="foto-report-detail.html" class="button button--green"> СМОТРЕТЬ <span class="icon icon-camera button__icon"></span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="foto-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/foto-home/foto-home-1.jpg" alt="" >
						<div class="card__label-bottom">№203</div>
					</div>
					<div class="card__descr">
						Строительство дома из бруса размером 9х9 м. в 
						<div class="card__btn">
							<a href="foto-report-detail.html" class="button button--green"> СМОТРЕТЬ <span class="icon icon-camera button__icon"></span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="foto-slider__block">
				<div class="card">
					<div class="card__image-wrap">
						<img class="card__image" data-lazy="img/foto-home/foto-home-1.jpg" alt="" >
						<div class="card__label-bottom">№203</div>
					</div>
					<div class="card__descr">
						Строительство дома из бруса размером 9х9 м. в  
						<div class="card__btn">
							<a href="foto-report-detail.html" class="button button--green"> СМОТРЕТЬ <span class="icon icon-camera button__icon"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div><!-- slider foto-slider -->
	</div>

</div><!-- page-content -->




{% endblock %}