<header class="header">
	<div class="header__nav">
		<nav class="sites-nav">
			<div class="sites__toggle">Все сайты <img src="img/triangle-down.png" class="header__region-triangle"></img></div>
			<ul class="sites-nav__list">
				<li class="sites-nav__item"><a href="" class="sites-nav__link">Частным клиентам</a></li>
				<li class="sites-nav__item"><a href="" class="sites-nav__link">Корпоративным клиентам</a></li>
				<li class="sites-nav__item"><a href="" class="sites-nav__link">Инвесторам и прессе</a></li>
				<li class="sites-nav__item"><a href="" class="sites-nav__link">Интернет-магазин</a></li>
			</ul>
		</nav>
		<div class="header__region">Московский регион <img src="img/triangle-down.png" class="header__region-triangle"></img></div>
	</div>
	<div class="header__bottom">
		<div class="container">
			<div class="header__bottom-content">				
				<a href="" class="logo header__logo">
					<img src="img/icon-svg/logo.svg" alt="">
				</a>
				<a href="" class="logo header__logo mobile-logo">
					<img src="img/icon-svg/logo-mobile.svg" alt="">
				</a>
				<div class="mobile-btns">
					<div class="mobile-btn">
						<svg>
						 	<use xlink:href="img/icon-svg/sprite/sprite-svg.svg#search"></use>
						</svg>
					</div>
					<div class="mobile-btn">
						<svg>
						 	<use xlink:href="img/icon-svg/sprite/sprite-svg.svg#account"></use>
						</svg>
					</div>
					<div class="mobile-btn">
						<div class="menu-toggle">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</header>