	<footer class="footer">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-medium-6-10">
					<div class="uk-grid">
						<div class="uk-width-medium-1-3">
							<ul>
								<li><a href="">О компании</a></li>
								<li><a href="">Новости</a></li>
								<li><a href="">Что-то</a></li>
							</ul>
						</div>
						<div class="uk-width-medium-1-3">
							<ul>
								<li><a href="">О компании</a></li>
								<li><a href="">Новости</a></li>
								<li><a href="">Что-то</a></li>
							</ul>
						</div>
						<div class="uk-width-medium-1-3">
							<ul>
								<li><a href="">О компании</a></li>
								<li><a href="">Новости</a></li>
								<li><a href="">Что-то</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="uk-width-medium-2-10">
					<div class="contacts">
						<a href="tel:+88005553535"><b>+7&nbsp;(000)&nbsp;123-45-67</b></a>	
						<a href="mailto:e-mail@example.com">e-mail@example.com</a>
					</div>
				</div>
				<div class="uk-width-medium-2-10">
					<div class="adress">
						<p>Москва, ул. Пушкина 21, 3 этаж, офис&nbsp;41</p>						
					</div>					
				</div>
				<div class="uk-width-1-1 copy">
					<p>© 2014 - 2018 ОЭМК. Все права защищены.</p>
				</div>
			</div>
		</div>
	</footer>