<!-- заказать звонок -->
<div id="backCall" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
    	<h2 class="uk-text-center">Обратный звонок</h2>
        <form class="form" action="">
        	<input type="text" placeholder="Имя">
        	<input type="text" placeholder="Телефон*" required>
        	<textarea name="" id="" cols="30" rows="10" placeholder="Сообщение"></textarea>
        	<p>* — поля обязательные для заполнения</p>
        	<small>Нажимая на кнопку Отправить, я <a href="">даю согласие на обработку персональных данных</a></small>
        	<button class="button" type="submit">Отправить</button>
        </form>
    </div>
</div>
<!-- задать вопрос -->
<div id="askQuest" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
    	<h2 class="uk-text-center">Задать вопрос</h2>
        <form class="form" action="">
        	<input type="text" placeholder="Имя*" required>
        	<input type="tel" placeholder="Телефон*" required>
        	<input type="mail" placeholder="E-mail">
        	<textarea name="" id="" cols="30" rows="10" placeholder="Сообщение*" required></textarea>
        	<p>* — поля обязательные для заполнения</p>
        	<small>Нажимая на кнопку Отправить, я <a href="">даю согласие на обработку персональных данных</a></small>
        	<button class="button" type="submit">Отправить</button>
        </form>
    </div>
</div>