<!-- Форма обратная связь -->
<div id="backCall" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <h2 class="modal__title">Обратная связь</h2>
        <form action="" class="form modal__form">
        	<div class="form__row">
        		<div class="input-block">
	        		<input class="input input--full form__input" type="text">
	        		<label class="label label--absolute form__label">Ваше имя</label>       			
        		</div>
        	</div>
        	<div class="form__row">
        		<div class="input-block">
	        		<input class="input input--full form__input" type="text">
	        		<label class="label label--absolute form__label">Электронная почта&nbsp;<span class="color-red">*</span></label>	
        		</div>
        	</div>
        	<div class="form__row">
        		<div class="input-block">
	        		<input class="input input--full form__input" type="tel"> 
	        		<label class="label label--absolute form__label">Номер телефона&nbsp;<span class="color-red">*</span></label>    			
        		</div>
        	</div>
        	<div class="form__row">
        		<div class="textarea-block">
	        		<textarea class="textarea textarea--full form__textarea" name="" id="" rows="5"></textarea>
	        		<label class="label label--absolute form__label">Сообщение</label>    			
        		</div>
        	</div>
        	<div class="form__row">
        		<small class="form__small"><span class="color-red">*</span> — обязательные поля</small>
        	</div>
        	<div class="form__row">
        		<button class="button button--orange button--full form__button" type="submit">Отправить</button>
        	</div>
            <div class="form__row">
                <small class="form__small">Нажимая кнопку "Отправить" я даю согласие на обработку своих <a href="">персональных данных</a></small>
            </div>
        </form>
    </div>
</div>

<!-- Добавление в корзину -->
<div id="inBasket" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <h2 class="modal__title">Товар добавлен в корзину</h2>
        <div class="uk-grid">
            <div class="uk-width-small-1-2">
                <button class="button button--blue button--full uk-modal-close">Продолжить просмотр</button>
            </div>
            <div class="uk-width-small-1-2">
                <a href="#" class="button button--orange button--full">Перейти в корзину</a>
            </div>
        </div>
    </div>
</div>