@import 'fonts';
@import 'reset';

a:hover {
	color: #174e83;
	text-decoration: none;
}
body {
	font-family: 'TTNorms', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #4f5157;
}
h1 {
	font-weight: 900;
}
h2 {
	color: #174e83;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 25px;
}
h3 {
	color: #174e83;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 25px;
}
.overlay {
	display: none;
	position: fixed;
	top: -100px;
	left: -100px;
	right: -100px;
	bottom: -100px;
	background-color: rgba(#fff, 0.7);
	z-index: 1;
}
.color-blue {
	color: #174e83;
}
.color-white {
	color: #ffffff;
}
.color-red {
	color: #d22828;
}
.uk-container {
	margin: 0 auto;
	padding: 0 25px;
}
.uk-grid {
	margin-left: -25px;
}
.uk-grid>* {
	padding-left: 25px;
}
@media (min-width: 1220px) {
	.uk-grid-divider:not(:empty) {
	    margin-left: -25px;
	    margin-right: -25px;
	}	
}
.uk-container.uk-container--large {
	max-width: 1350px;
}
.uk-tab-responsive>a:before {
	content: "\e904";
	font-family: 'icomoon' !important;
	font-size: 14px;
	margin-right: 10px;
}
.uk-slidenav {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	line-height: 30px;
	text-align: center;
	background-color: #eee;
	color: #174e83;
}
.uk-slidenav-position .uk-slidenav {
	position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
.uk-slidenav.uk-hidden-touch {
	display: block !important;
}
.uk-slidenav-position .uk-slidenav-previous, .uk-slidenav-position .uk-slidenav-next {
	left: 10px;
	text-decoration: none;
}
.uk-slidenav-position .uk-slidenav-next {
	left: auto;
	right: 10px;
}
.uk-slidenav-position .uk-slidenav-previous:before, .uk-slidenav-position .uk-slidenav-next:before {
	font-family: 'icomoon' !important;
    color: #174e83;
    font-size: 20px;
}
.uk-slidenav-position .uk-slidenav-previous:before {
	content: "\e90e";
}
.uk-slidenav-position .uk-slidenav-next:before {
	content: "\e902";
}
.section {
	padding: 50px 0;
	&--in {
		padding: 0;
		margin-bottom: 50px;
	}
	&--border {
		border-radius: 4px;
		border: 1px solid #dfe4eb;
	}
	&--padding {
		padding: 25px;
	}
}
.section__title {
	font-size: 30px;
	font-weight: 900;
	line-height: normal;
	margin-bottom: 0;
}
.section__title-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 0px 0px 30px;
	border-bottom: 1px solid #dfe4eb;
}
.page-content--two-columms {
	background-color: #f4f7fb;
}
.button {
	display: inline-block;
	padding: 18px 50px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	line-height: normal;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	transition: all 0.3s ease;	
	&--orange {
		color: #fff;
		background-color: #ee9900;
		&:hover {
			color: #fff;
			background-color: #00a899;			
		}
	}
	&--green {
		color: #fff;
		background-color: #00a899;
		&:hover {
			color: #fff;
			background-color: #ee9900;			
		}		
	}
	&--blue {
		color: #ffffff;
		background-color: #174e83;
		&:hover {
			background-color: #00a899;
		}
	}
	&--full {
		width: 100%;
	}
}
input, .input, textarea, .textarea {
	padding: 16px 20px;
	border-radius: 4px;
	background-color: #ffffff;
	border: 1px solid #ccd2d9;
	max-width: 100%;
	&:focus {
		border: 1px solid #ee9900;		
	}
}
.input--full, .textarea--full {
	width: 100%;
}

textarea, .textarea {
	resize: none;
}
::-webkit-input-placeholder {
	color: #4f5157;
	opacity: 0.5;
	font-size: 14px;
}
::-moz-placeholder {
	color: #4f5157;
	opacity: 0.5;
	font-size: 14px;
}/* Firefox 19+ */
:-moz-placeholder {
	color: #4f5157;
	opacity: 0.5;
	font-size: 14px;
}/* Firefox 18- */
:-ms-input-placeholder {
	opacity: 1;
}

:focus::-webkit-input-placeholder {
	opacity: 1;
}
:focus::-moz-placeholder {
	opacity: 1;
}/* Firefox 19+ */
:focus:-moz-placeholder {
	opacity: 1;
}/* Firefox 18- */
:focus:-ms-input-placeholder {
	opacity: 1;
}
blockquote, .blockquote {
	padding: 35px 85px;
	background-color: #f5f8fc;
	color: #174e83;
	font-size: 24px;
	line-height: 36px;
	font-style: normal;
	border-left: none;
}
.blockquote__name {
	display: block;
	text-align: right;
	color: #4f5157;
	font-size: 14px;
	font-weight: 500;
}
ul {
	list-style-type: none;
}
ul li:not([class]), ul li:not([class]) p{
	margin-bottom: 25px;
	font-size: 14px;
	&:last-child {
		margin-bottom: 0;
	}
}
ul li:not([class]) {
	position: relative;
	padding-left: 30px;
}
ul li:not([class]):before {
	content:"";
	position: absolute;
	top: 10px;
	left: 0;
	width: 4px;
	height: 4px;
	background-color: #174e83;
	border-radius: 4px;
}
ol {
	counter-reset: num;
	list-style-type: none;
}
ol li:not([class]), ol li:not([class]) p{
	position: relative;
	padding-left: 30px;
	font-size: 14px;
	margin-bottom: 25px;
	&:last-child {
		margin-bottom: 0;
	}
}
ol li:not([class]):before {
	position: absolute;
	top: 0px;
	left: 0px;
	content: counter(num) ".";
	counter-increment: num;
	color: #174e83;
	font-size: 16px;
	font-weight: 700;
}
.link-more {
	display: block;
	font-weight: 500;
}
.link-more .icon {
	font-size: 0.7em;
    margin-left: 10px;
}
// header
.header-top {
	padding: 9px 0;
	border-bottom: 1px solid #dfe4eb;
}
.header-top__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}
.header-top__connection-area {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.connection {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	color: #4f5157;
	flex-direction: row;
	align-items: flex-start;
	font-weight: 500;
	&:hover .connection__txt {
		color: #174e83;
	}
}
.connection__header-top {
	margin-right: 35px;
	&:last-child {
		margin-right: 0;
	}
}
.connection__icon {
	display: inline-block;
	color: #174e83;
	margin-right: 14px;
	font-size: 16px;
	font-weight: 500;
	line-height: 0;
}
.connection__txt {
	color: #4f5157;
}

.header-middle {
	padding: 20px 0;
}
.header-middle__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}
.logo {
	display: block;
}
.logo__img {
	margin-bottom: 9px;
}
.logo__txt {
	color: #4f5157;
	font-size: 12px;
	letter-spacing: -0.3px;
	line-height: normal;
}
.search {
	flex-basis: 39%;
}
.search__input {
	width: calc(100% - 44px);
	vertical-align: middle;
	border-radius: 4px 0px 0px 4px;
	background-color: #f4f7fb;
	border: none;
	&:focus {
		border: none;
	}
}
.search__button {
	padding: 14px;
	margin-left: -5px;
	font-size: 16px;
	color: #fff;
	vertical-align: middle;
	background-color: #174e83;
	border-radius: 0px 4px 4px 0px;
}
.contacts, .basket {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
}
.contacts__icon, .basket__icon {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-right: 25px;
	background-color: #f4f7fb;
	font-size: 24px;
	color: #174e83;
	border-radius: 50%;
}

.contacts__txt, .basket__txt {
	margin-top: 10px;
}
.contacts__phone-link {
	display: block;
	color: #000000;
	font-weight: 700;
	margin-bottom: 8px;
	&:last-child {
		margin-bottom: 0;
	}
}
.basket__quantity {
	display: block;
	font-weight: 700;
	color: #174e83;
	margin-bottom: 10px;
}
.basket__price {
	font-weight: 500;
}

.header-bottom {
	background-color: #174e83;
}
.menu .menu__list {
	padding-left: 0;	
}	
.menu .menu__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
}
.menu__list>.menu__item {
	position: relative;
	float: none;
	flex-grow: 1;
	text-align: center;
	background-color: #174e83;
}
.menu__item:not(:last-child):after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 1px;
	height: 60%;
	background-color: #fff;
	opacity: 0.1;
}
.menu__list>.menu__item>.menu__link {
	padding: 25px 0;
	height: auto;	
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}
.menu__list>.menu__item.uk-open>.menu__link, .menu__list>.menu__item:hover>.menu__link, .menu__list>.menu__item>.menu__link:focus {
	color: rgba(255, 255, 255, 0.7);
	background-color: #174e83;
}
.menu__list>.menu__item:hover>.menu__link.menu__link--catalog, .menu__list>.menu__item>.menu__link.menu__link--catalog:focus, .menu__link--catalog:hover {
	background-color: #00a899;
	color: rgba(255, 255, 255, 1);
}
.menu__icon-burger {
	margin-right: 30px;
}
.menu__icon-arrow_down {
	margin-left: 18px;
	font-size: 6px;
	vertical-align: middle;
}
.subs {
	text-align: left;
}
.sub {
	max-width: 400px;
	display: inline-block;
	position: relative;
	text-align: left;
	background-color: #fff;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.09);
	z-index: 3;
	box-sizing: border-box;
}
.sub__item {
	padding: 0px 20px;
	&:last-child {
		border-bottom: none;
	}
}
.sub__pic {
	float: left;
	margin-top: -5px;
	margin-right: 10px;
	width: 32px;
	height: 32px;
	overflow: hidden;
	border-radius: 50%;
}
.sub__icon {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	font-size: 10px;
}
.sub__link, .uk-nav ul a.sub__link {
	position: relative;
	display: block;
	border-bottom: 1px solid #dfe4eb;
	padding: 20px 10px 20px 0px;
	color: #4f5157;
	font-size: 18px;
	font-weight: 500;
	transition: all 0.3s ease;
	&:hover {
		color: #0a5aa3;
	}
}
.sub__item:last-child a.sub__link {
	border-bottom: none;
}
.sub__link, .uk-nav ul li.sub__item:hover > .sub {
	display: inline-block;
}
.sub .sub {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	z-index: 0;
}

.uk-dropdown.uk-dropdown--subnav {
	padding: 0;
	margin-top: 0;
	background-color: transparent;
}
.uk-nav ul {
	padding-left: 0;
}

.header-mobile__top {
	padding: 10px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-mobile__logo {
	margin-right: 15px;
	flex-shrink: 2;
}
.header-mobile__logo .logo__img {
	margin-bottom: 0;
}
.header-mobile__right-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-shrink: 0;
}

.header-mobile__button {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: #f4f7fb;
	padding: 0px;
	font-size: 24px;
	text-align: center;
	border-radius: 50%;
	color: #174e83;
}
.header-mobile__button-wrap {
	margin-right: 10px;
	&:last-child {
		margin-right: 0;
	}	
}
.header-mobile__button--burger {
	background-color: #fff;
}
#headerPhones {
	display: none;
	padding: 10px 0px 0px;
	border-top: 1px solid #dfe4eb;
	text-align: center;
}
.header-mobile__phone-link {
	display: inline-block;
	margin-right: 20px;
	&:last-child {
		margin-right: 0;
	}
}
.header-mobile__catalog-button-wrap {
	text-align: center;
	margin-bottom: 20px;
}
.header-mobile__catalog-button {
	font-weight: 700;
	color: #ffffff;
	background-color: #174e83;
	width: 100%;

}

.mobile-menu {
	background-color: #174e83;
}
.mobile-menu__connection-area {
	padding: 0px 20px;
	margin-bottom: 20px;
}
.mobile-menu__search {
	padding: 0px 20px;
	margin-bottom: 25px;
}
.mobile-menu__search .search__input {
	height: 35px;
	width: calc(100% - 32px);
	padding: 10px 20px;
}
.mobile-menu__search .search__button {
	height: 35px;
	padding: 8px;
	background-color: #ee9900;
}
.connection__mobile-menu {
	margin-bottom: 15px;
}
.connection__mobile-menu .connection__txt, .connection__mobile-menu .connection__icon {
	color: #fff;
}
.connection__mobile-menu:hover .connection__txt, .connection__mobile-menu:focus .connection__txt {
	color: rgba(255, 255, 255, 0.7);
}
.mobile-menu__title {
	padding-bottom: 10px;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	text-transform: uppercase;
}
.mobile-menu__list {
	padding: 0px;
	margin-bottom: 25px;
	list-style-type: none;
}
.mobile-menu__item {
	position: relative;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.mobile-menu__link {
	display: block;
	width: calc(100% - 35px);
	padding: 15px 0 15px 20px;
	color: #fff;
	font-size: 15px;
	line-height: 22px;
	&:hover, focus {
		color: rgba(255, 255, 255, 0.7);
	}
}
.mobile-menu__arrow {
	margin-top: 15px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 0.7em;
	color: #fff;
	text-align: center;
	transition: transform 0.3s ease;
	&.open {
		transform: rotateZ(90deg);
	}
}
.mobile-menu__sublist {
	display: none;
	list-style-type: none;
	padding-left: 10px;
}
.mobile-menu__sublist .mobile-menu__item {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: none;
}
.breadcrumbs {
	padding: 16px 0;
	background-color: #f4f7fb;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	color: #4f5157;
}
.breadcrumbs__list {
	padding-left: 0;
	margin: 0;
}
.breadcrumbs__item {
	display: inline-block;
	margin-right: 10px;
	+ .breadcrumbs__item {
		&:before {
			content: "•";
			margin-right: 10px;
			vertical-align: baseline;
		}
	}
}
.breadcrumbs__link {
	color: #4f5157;
}
// main-section
.main-section {
	position: relative;
	background-color: #f4f7fb;
}
.main-section__content {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.main-section__left {
	flex-basis: 38%;
	height: 100%;
	margin-right: 25px;
	z-index: 1;
}
.main-section__title {
	position: absolute;
	font-size: 42px;
	line-height: 1.2;
	z-index: 1;
}
.main-section__text {
	margin-top: 150px;
	margin-bottom: 35px;
	font-size: 18px;
	line-height: 30px;
}
.main-section__more {
	color: #174e83;
	font-weight: 700;
}
.main-section__right {
	position: relative;
	flex-basis: 62%;
	margin-left: 25px;
	z-index: 0;
}
.main-slider {
	box-shadow: 0 16px 17px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	max-height: 330px;
	overflow: hidden;
	transition: all 0.3s ease;
	opacity: 0;
}
.main-slider__block {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 330px;
	opacity: 0;
	transition: all 0.3s ease;
}
.main-slider__content-wrap {
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
}
.main-slider__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	padding-bottom: 15px;
	padding-left: 15%;
	width: 100%;
	height: 100%;
	max-height: 80%;
	max-width: 60%;
	background: transparent url("../img/oval.svg") bottom right no-repeat;
	background-size: contain;
	color: #ffffff;
}
.main-slider__discount, .main-slider__text {
	margin-right: auto;
}
.main-slider__discount {
	position: relative;
	margin-bottom: 25px;
	margin-left: -25px;	
	padding: 3px 0px;
	font-size: 30px;
	font-weight: 700;
	line-height: normal;
	background-color: #ee9900;
	text-transform: uppercase;
}
.main-slider__discount:before, .main-slider__discount:after {
	content: "";
	position: absolute;
	top: 0;
	height: 100%;
	width: 16px;
	background-size: 100% 100%;
}
.main-slider__discount:before {
	left: -16px;
	background-image: url("../img/discount-l.png");
	
}
.main-slider__discount:after {
	right: -16px;
	background-image: url("../img/discount-r.png");
}
.main-slider__text {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.2;
	text-transform: uppercase;
}

.slick-dotted.slick-slider {
	margin-bottom: 0;
}
.slick-dots.custom-dots {
	bottom: 20px;
	left: 20px;
	text-align: left;
	z-index: 1 !important;
}
.slick-dots.custom-dots li {
	margin: 0px 10px;
	&:before {
		display: none;
	}
}
.slick-dots.custom-dots li button:before {
	color: #174e83;
	font-size: 20px;
	opacity: 1;
}
.slick-dots li.slick-active button:before {
	opacity: 1;
	font-size: 30px;
	color: #ffffff;
}

// catalog-section
.catalog-section__more {
	color: #4f5157;
}
.catalog-block {
	height: 100%;
	margin-top: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	transition: all 0.3s ease;
}
.catalog-block__image {
	flex-shrink: 0;
	width: 82px;
	height: 82px;
	border-radius: 100%;
	margin-right: 25px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.catalog-block__title {
	color: #4f5157;
	font-size: 20px;
	font-weight: 500;
	line-height: 26px;
	margin-bottom: 30px;
	transition: all 0.3s ease;
}
.catalog-block__list {
	padding-left: 0;
	list-style-type: none;
	transition: all 0.3s ease;
}
.catalog-block__item, .main-area .catalog-block__list .catalog-block__item{
}
.catalog-block__item:before {
}
.catalog-block__link {
	padding: 5px 0;
	display: block;
	color: #174e83;
	font-weight: 500;
	line-height: 18px;
	transition: all 0.3s ease;
}

.catalog-section__list:hover .catalog-block {
	opacity: 0.3;
	filter: grayscale(100%);
}
.catalog-section__list .catalog-block:hover {
	opacity: 1;
	filter: grayscale(0%);
}
.catalog-section__list .catalog-block:hover .catalog-block__title {
	color: #174e83;
}
.catalog-block__list:hover .catalog-block__link {
	opacity: 0.3;
}
.catalog-block__list .catalog-block__link:hover {
	opacity: 1;
}

// manufacturer-section
.manufacturer-section {
	// position: relative;
	background: #fff url("../img/manufacturer-bg-1.png") center no-repeat;
	background-size: cover;
	// &:after {
	// 	content: "";
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	background-color: #174e83;
	// 	opacity: 0.85
	// }
}
.manufacturer-section__more {
	&:hover {
		color: #ffffff;
		opacity: 0.7;
	}	
}
.manufacturer-section__content {
	padding-top: 40px;
}
.manufacturer-section__descr {
	font-size: 18px;
	line-height: 30px;
	color: #ffffff;
}
.manufacturer__list {
	padding-left: 0;
	list-style-type: none;
	transition: all 0.3s ease;
}
.manufacturer__link {
	display: block;
	padding: 5px 0;
	color: #ffffff;
	transition: all 0.3s ease;
}
.manufacturer__list:hover .manufacturer__link {
	opacity: 0.3;
}
.manufacturer__list .manufacturer__link:hover {
	opacity: 1;
	color: #ffffff;
}

// services-section 
.services-section {
	background-color: #f4f7fb;
}
.services-section__title, .objects-section__title {
	margin-bottom: 40px;
	line-height: 1.1;
}
.services-section__descr, .objects-section__descr {
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 30px;
}
.tiles__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
}
.tile__block {
	flex-basis: 100%;
	margin-right: 25px;	
	&:last-child {
		margin-right: 0;
	}
}
.tile {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	height: 200px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 25px;
	padding: 30px;
	border-radius: 4px;
	font-size: 20px;
	font-weight: 500;
	line-height: 26px;
	color: #ffffff;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 0.3s ease;
	&:hover {
		color: #ffffff;
	}
}
.tile__block--fb-60 {
	flex-basis: 60%;
}
.tile__block--fb-50 {
	flex-basis: 50%;
}
.tile__block--fb-40 {
	flex-basis: 40%; 
}

.tile__content {
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #174e83;
		border-radius: 4px;
		opacity: 0.6;
		transition: all 0.3s ease;		
	}
}
.tile:hover .tile__content:before {
	opacity: 0.3
}
.tile--2h {
	height: 425px;
}
.tile__txt {
	position: relative;
	z-index: 1;
	display: inline;
	background-image: linear-gradient(transparent calc(100% - 10px), #174e83 10px);
	background-size: 0% 100%;
	background-repeat: no-repeat;
	transition: background-size 0.5s ease;
}
.tile:hover .tile__txt {
	background-size: 100% 100%;

}
// objects-secion
.objects-section__content {
	background-image: url('../img/objects-bg.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
}
// footer
// .page-without-footer-wrap {
// 	position: relative;
// 	z-index: 2;
// 	background-color: #fff;
// 	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.09);
// 	transition: box-shadow 1s ease;
// }
// .page-without-footer-wrap.shadow {
//     box-shadow: 0 10px 15px rgba(0, 0, 0, 0.09);	
// }
.footer {
	background-color: #f4f7fb;
	border-top: 1px solid #dfe4eb;
}
// footer.sticky {
// 	position: fixed;
// 	bottom: 0;
// 	left: 0;
// 	right: 0;
// 	z-index: 1;
// }
.footer-top {
	padding-bottom: 30px;
	border-bottom: 1px solid #dfe4eb;
}
.footer-menu__title {
	margin-bottom: 25px;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	color: #174e83;
}
.footer-menu__list {
	padding-left: 0;
	list-style-type: none;
}
.footer-menu__item {
	margin-bottom: 10px;
}
.footer-menu__link {
	font-weight: 500;
	line-height: 18px;
	color: #4f5157;
	&:hover {
		color: #174e83;
	}
}
.footer-top__contacts, .connection__footer-top {
	margin-bottom: 25px;
}
.connection__footer-top {
	.connection__icon {
		margin-left: 20px;
		margin-right: 30px;
	}
}
.footer-bottom {
	padding-top: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	color: #4f5157;
}
.footer-bottom a {
	color: #4f5157;
	&:hover {
		color: #174e83;
	}
}
.copy__separator {
	margin: 0 15px;
}
.icon-aevrika {
	color: #fa7f4c;
	margin-right: 15px;
}

// modals
.uk-modal-dialog {
	padding: 50px 100px;
}
.modal__title {
	font-size: 30px;
	font-weight: 900;
	color: #174e83;
	margin-bottom: 30px;
}
.uk-close {
	width: auto;
	height: auto;
	line-height: 1;
}
.uk-close:after {
	content: "\e90b";
	font-family: 'icomoon' !important;
}
.uk-modal-dialog>.uk-close:first-child {
	position: absolute;
	top: 15px;
	right: 15px;
	float: none;
	margin: 0;
	font-size: 20px;
	color: #174e83;
}
.form__row {
	margin-bottom: 20px;
}
.input-block, .textarea-block {
	position: relative;
}
.label {
	font-weight: 500;
}
.label--absolute {
	padding: 0px 0.8em;
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	background-color: #fff;
	transition: all 0.3s ease;
	pointer-events: none;
}
input.form__input:focus + label.label--absolute, textarea.form__textarea:focus + label.label--absolute, {
	top: 0px;
}
input.filled + label.label--absolute, textarea.filled + label.label--absolute, {
	top: 0px !important;
}
.form__small {
	font-size: 14px;
	font-weight: 500;
}

// detail
.page-title {
	margin: 35px 0px;
}
.brief-section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
}
.brief__gallery {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-basis: 40%;
	padding: 25px;
	background-color: #fff;
	border-right: 1px solid #dfe4eb;
	border-radius: 4px 0 0 4px;
	// opacity: 0;
	// max-height: 550px;
	// overflow: hidden;
}
.product-thumb {
	width: 92px;
	margin-right: 25px;
	overflow: hidden;
	max-height: 430px;
	opacity: 0;
	transition: opacity 0.3s ease;
}
.product-thumb__block {
	width: 100%;
	height: 90px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.3s ease;
	&:hover {
		border: 1px solid #dfe4eb;
	}
	&.slick-current {
		border: 1px solid #dfe4eb;
	}
}
.product-thumb__wrap-image {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90px;
	width: 90px;
	background-color: #fff;	
	border-radius: 4px;
}

.slick-vertical .slick-slide {
}
.product-photo {
	max-width: calc(100% - 117px);
	max-height: 430px;
	overflow: hidden;
	opacity: 0;
	transition: opacity 0.3s ease;
}
.product-photo__block {
	opacity: 0;
	transition: opacity 0.3s ease;
}
.product-photo__image-wrap {
	display: block;
}
.product-thumb__image {
	border-radius: 4px;
}
.slick-slide {
	outline: none;
}
.slider-arrow {
	position: relative;
	margin: 0 auto;
	width: 25px;
	height: 15px;
	cursor: pointer;
	color: #ced2e0;
	&:before {
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 12px;
		font-family: 'icomoon' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	&:hover {
		color: #174e83;
	}
	&--horizontal {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 15px;
		height: 25px;
		&:before {
			// top: ;
			// left: ;
			// transform: translate(-50%, 0%);			
		}
	}
}
.slider-arrow-next {
	&:before {
		position: absolute;
		content: "\e901";		
	}
	&--horizontal {
		left: auto;
		right: 0;
		&:before {
			content: "\e902";
			font-size: 20px;
		}
	}
	&--out {
		right: -25px;
	}
}
.slider-arrow-prev {
	z-index: 1;
	&:before {
		position: absolute;
		content: "\e910";		
	}
	&--horizontal {
		&:before {
			content: "\e90e";
			font-size: 20px;			
		}
	}
	&--out {
		left: -25px;
	}
}
.brief__specifications-min {
	width: 27%;
	flex-basis: 27%;
	padding: 25px;
	background-color: #f5f8fc;
	border-right: 1px solid #dfe4eb;
}
.table {
	width: 100%;
	border-spacing: 0;
}
.table-striped .table__row:nth-child(even) {
	background-color: #f5f8fc;
}
.table-striped--reverse .table__row:nth-child(odd) {
	background-color: #f5f8fc;
}
.table__cell {
	padding: 15px;
}
.table-specifications {
	margin-bottom: 25px !important;
}
.table-specifications__row {
	background-color: #fff;
}
.table-specifications__cell {
	font-weight: 500;
	vertical-align: middle;
}
.table-specifications__cell--title {
	border-right: 1px solid #dfe4eb;
	font-weight: 400;
}

.specifications-min__link {
	font-weight: 500;
	line-height: 18px;
}
.brief__price-advantage {
	width: 33.1%;
	flex-basis: 33.1%;
}
.brief__price {
	padding: 25px 25px 0px 25px;
	border-bottom: 1px solid #dfe4eb;
}
.price-block__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.price-block__title, .price-block__in-stock {
	margin-bottom: 25px;
	font-weight: 500;
}
.price-block__title {
	font-weight: 500;
}
.price-block__in-stock-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #00a899;
	border-radius: 100%;
	margin-right: 12px;
	line-height: 20px;
	font-size: 8px;
	text-align: center;
	color: #fff;
	vertical-align: baseline;
}
.price-block__value-wrap {
	margin-bottom: 25px;
	font-size: 30px;
	font-weight: 700;
	line-height: normal;
	color: #000000;
}
.quantity-block {
	margin-bottom: 25px;
	border: 1px solid #ccd2d9;
	border-radius: 4px;
}
.quantity-block__minus, .quantity-block__plus {
	display: inline-block;
	height: 45px;
	border: none;
	background-color: transparent;
	font-size: 25px;
	color: #ced2e0;
	line-height: 1;
	vertical-align: middle;
	outline: none;
	cursor: pointer;
}
.quantity-block__input {
	max-width: 30px;
	border: none;
	padding: 16px 5px;
	font-size: 16px;
	text-align: center;
	&:focus {
		border: none;
	}
}
.brief__advantage {
	padding: 25px 0;
}
.price-block__buy-btn {
	margin-bottom: 25px;
}
.brief__accordion-title {
	padding: 5px 25px;
}
.accordion__title {
	margin-bottom: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	background-color: #fff;
	transition: 0.3s ease;
	&:hover {
		.accordion__title-txt {
			color: #174e83;
		}
	}
}
.accordion__title-icon {
	flex-shrink: 0;
	margin-right: 25px;
	width: 48px;
	height: 48px;
	background-color: #f4f7fb;
	border-radius: 50%;
	color: #174e83;
	text-align: center;
	font-size: 25px;
	line-height: 48px;
	transition: 0.3s ease;
}
.accordion__icon-arrow {
	font-size: 6px;
	margin-left: 13px;
	transition: 0.3s ease;
}
.brief__accordion-content {
	padding: 0px 25px 25px 98px;
	font-size: 13px;
	transition: 0.3s ease;
}
.accordion__title.uk-active {
	background-color: #edfbfa;
}
.accordion__title.uk-active .accordion__title-icon {
	background-color: #174e83;
	color: #fff;
}
.accordion__title.uk-active .accordion__icon-arrow {
	transform: rotateZ(180deg);
}
.brief__accordion-content.uk-active {
	background-color: #edfbfa;
}

.specifications-section {
	padding: 25px;
}
.uk-tab>li {
	&:last-child>a {
		margin-right: 0;
	}
	&:first-child>a {
		margin-left: 0;
	}	
}
.uk-tab>li>a {
	margin: 0px 20px;
	padding: 0px 0px 25px;
	border: none;
	font-size: 20px;
	font-weight: 500;
	line-height: 26px;
	color: #4f5157;

}
.uk-tab>li.uk-active>a {
	font-weight: 700;
	color: #174e83;
	border-bottom: 3px solid #00a899
}
.uk-tab>li.uk-open>a, .uk-tab>li>a:focus, .uk-tab>li>a:hover {
	background: none;
}
.link-w-icon {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	font-weight: 500;
	line-height: 18px;
	color: #174e83;
}
.link-w-icon__icon-wrap {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	flex-shrink: 0;
	background-color: #f4f7fb;
	text-align: center;
	line-height: 55px;
	margin-right: 15px;
	font-size: 30px;
	transition: all 0.3s ease;
}

.specification__link-download {
	margin-bottom: 15px !important;	
	transition: all 0.3s ease;
	&:hover {
		.link-w-icon__icon-wrap {
			background-color: #174e83;
			color: #ffffff;
		}
	}
}

.recommendation-block {
	width: calc(100% - 30px);
	margin-bottom: 25px !important;
	padding-bottom: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	color: #4f5157;
	font-size: 16px;
	font-weight: 500;
	line-height: 36px;
	border-bottom: 1px solid #dfe4eb;
}
.recommendation-block__image {
	width: 32px;
	height: 32px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: 20px;
	border-radius: 50%;
	flex-shrink: 0;
}
.similar-section__title, .recommendation-section__title {
	margin-bottom: 48px;
}
.similar-slider {
	// overflow: hidden; 
	margin-left: -12px;
	margin-right: -12px;
	max-height: 300px;
	overflow: hidden;
	opacity: 0;
}
.similar-slider .slick-list {
	padding-top: 5px;
	padding-bottom: 11px;
}
.similar-slider .slick-track {
	opacity: 0;
	transition: opacity 0.8s ease;
}
.card-v {
	display: block;
	padding: 20px 18px;
	margin-left: 12px;
	margin-right: 12px;
	min-height: 280px;
	border: 1px solid #dfe4eb;
	border-radius: 4px;
	color: #174e83;
	transition: all 0.3s ease;
	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.09);
	}
}
.card-v__image-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 130px;
	width: 100%;
	margin-bottom: 20px;
}
.card-v__image {
	max-height: 130px;
	// margin: auto;s
}
.card-v__descr {
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
}
.card-v__title {
	margin-bottom: 14px;
	min-height: 55px;	
}
.card-v__price-wrap {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
}
.content-section {
	font-size: 16px;
	line-height: 24px;
}
.product-menu {
	margin-bottom: 25px;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.09);
}
.product-menu .product-menu__item {
	background-color: #fff;
	flex-shrink: 0;
	&:hover {
		.product-menu__link {
			opacity: 1;
			color: rgba(255, 255, 255, 1);
		}
		&:after {
			opacity: 0;
		}
	}
}
.product-menu__item:not(:last-child):after {
	background-color: #dfe4eb;
	opacity: 1;
}
.product-menu .product-menu__list .product-menu__link {
	padding-left: 12px;
	padding-right: 12px;
	color: #174e83;
	transition: all 0.3s ease;
}
.version-table__cell--header {
	padding: 20px 15px;
	background-color: #dde5ef;
	text-align: left;
}
.version-table__icon {
	margin-left: 10px;
	font-size: 10px;
}
.version-table__cell {
	font-weight: 500;
}
.version-table__input {
	padding: 8px;
	max-width: 60px;
	margin-right: 10px;
}
.version-table__button {
	padding: 10px;
	width: calc(100% - 75px);
	min-width: 90px;
}

.discount-section {
	border-radius: 4px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
.discount-section__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
}
.discount {
	position: relative;
	padding: 3px 0px;
	font-size: 30px;
	font-weight: 700;
	line-height: normal;
	background-color: #ee9900;
	text-transform: uppercase;
	&:before, &:after {
		content: "";
		position: absolute;
		top: 0;
		height: 100%;
		width: 16px;
		background-size: 100% 100%;
	}
	&:before {
		left: -16px;
		background-image: url(../img/discount-l.png);
	}
	&:after {
		right: -16px;
	    background-image: url(../img/discount-r.png);		
	}
}
.discount-section__discount {
	color: #fff;
}
.discount-section__text {
	padding: 16px 16px 25px 10%;
	padding-right: 25px;
	font-size: 24px;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	color: #fff;
	background: url("../img/oval.svg") no-repeat;
	background-position: bottom left;
	background-size: cover;
}

// catalod
.sidebar {
	width: 190px;
	float: left;
	margin-right: 25px;
	background-color: #fff;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.09);
}
.main-area {
	padding-left: 25px;
	padding-right: 25px;
	float: right;
	width: calc(100% - 215px);
	background-color: #fff;
}
.main-area p {
	font-size: 18px;
	line-height: 30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #174e83 !important;
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
	background-color: #174e83 !important;	
}
.mCSB_scrollTools .mCSB_draggerRail {
	background-color: #ced2e0 !important;
}
.filter__row {
	padding: 12px;
	border-bottom: 1px solid #dfe4eb;
}
.filter__title {
	position: relative;
	padding: 0;
	margin-bottom: 0px;
	background-color: #fff;
	font-size: 14px;
	font-weight: 500;
	color: #000000;
	transition: all 0.3s ease;
	&:hover {
		color: #174e83;
		&.filter__icon-arrow {
			color: #174e83;
		}
	}
}
.filter__icon-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	font-size: 6px;
	color: #ced2e0;
	transition: all 0.3s ease;
}
.filter__title.uk-active .filter__icon-arrow{
	transform: rotateZ(180deg);
}
.filter__title:hover .filter__icon-arrow{
	color: #174e83;
}
.filter__accordion-content {
	padding: 10px 0 0;
	max-height: 150px;
	overflow-y: auto;
}
.range__value-wrap {
	position: relative;
	display: inline-block;
	width: 70px;
	margin-right: 20px;
	margin-bottom: 15px;
	&:first-child:after {
		content: "";
		position: absolute;
		top: 50px;
		right: -18px;
		height: 1px;
		width: 12px;
		background-color: #ccd2d9;
	}
	&:not(:first-child) {
		margin-right: 0;
	}
}
.filter__label {
	display: inline-block;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: 400;
}
.filter__input {
	padding: 10px;
}
.noUi-horizontal {
	height: 4px;
}
.noUi-target {
	background-color: #ced2e0;
	border: none;
}
.noUi-connects {
	border-radius: 2px;
}
.noUi-horizontal .noUi-handle {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #174e83;
	box-shadow: 0 2px 4px rgba(23, 78, 131, 0.3);
}
html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
	right: -7px;
}
.noUi-handle:after, .noUi-handle:before {
	display: none;
} 

.check, .check *{
	cursor: pointer;
}
.check:hover {
	color: #174e83;
}
.check__input {
	display: none;
}	
.check__box {
	position: relative;
	display: inline-block;
	margin-top: 2px;
	width: 14px;
	height: 14px;
	border-radius: 2px;
	border: 1px solid #ccd2d9;
	background-color: #ffffff;
	margin-right: 8px;
	vertical-align: baseline;
	transition: 0.3s ease;
	&:after {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		content: "\e90c";
		font-family: 'icomoon' !important;
		color: #ffffff;
		font-size: 7px;
		opacity: 0;
	}
}
.check__input:checked + .check__box {
	background-color: #174e83;
	border-color: #174e83;
	&:after {
		opacity: 1;
	}
}
.filter__submit {
	padding: 10px;
	font-weight: 700;
	letter-spacing: 0.92px;
}
.filter__reset {
	padding: 10px;
	font-size: 14px;
	font-weight: 500;
	text-transform: none;
	color: #4f5157;
	background-color: #fff;
}
.catalog-top {
	padding: 25px 0px;
	background-color: #fff;
}
.catalog-top .page-title {
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 30px;
}
.toggles {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 15px;
}
.toggles__link {
	display: block;
	padding: 10px 15px;
	margin-right: 10px;
	margin-bottom: 10px;
	color: #4f5157;
	font-weight: 500;
	border-radius: 4px;
	border: 1px solid #ccd2d9;
	background-color: #ffffff;
	transition: all 0.3s ease;
	&:last-child {
		margin-right: 0;
	}
	&:hover {
		color: #ffffff;
		background-color: #00a899;
		border-color: #00a899; 
	}
	&--active {
		color: #ffffff;
		background-color: #00a899;
		border-color: #00a899;
	}
}
.sort .filter-burger {
	margin-right: 0;	
}
.filter-burger {
	position: relative;
	border: 2px solid #ee9900;
	width: 40px;
	height: 40px;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
	flex-shrink: 0;
	&.active {
		z-index: 1;
	}
}
.filter-burger__piece {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	margin: auto;
	width: 30px;
	height: 2px;
	background-color: #ee9900;
	line-height: 40px;
	transition: all 0.3s linear;
	&:nth-child(1) {
		top: calc(50% - 8px);
		transform-origin: center;
	}
	&:nth-child(2) {
		width: 20px;
	}
	&:nth-child(3) {
		top: calc(50% + 8px);
		width: 10px;
	}
}
.filter-burger.active .filter-burger__piece {
	&:nth-child(1) {
		top: 50%;
		transform: translate(-50%, -50%) rotateZ(-45deg);
		// transform-origin: center;
	}
	&:nth-child(2) {
		// top: calc(50% + 8px);
		width: 0px;
	}
	&:nth-child(3) {
		top: 50%;
		width: 30px;
		transform: translate(-50%, -50%) rotateZ(-135deg);
	}
}

.filter-mobile__wrap {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 50%;
	padding: 25px;
	background-color: #fff;
	border: 2px solid #ee9900;
	border-radius: 4px;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.09);
	z-index: 2;
}
.filter-mobile__row {
	padding-left: 0;
	padding-right: 0;
}
.sort {
	padding: 14px 25px;
	margin-left: -25px;
	margin-right: -25px;
	background-color: #f5f8fc;
}
.sort__right {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.sort__links > * {
	margin-right: 15px;
	&:last-child {
		margin-right: 0;
	}
}
.sort__title {
	margin-right: 15px;
	font-size: 14px;
	font-weight: 500;
	color: #000000;
}
.sort__link {
	font-weight: 500;
	color: #4f5157;
	&.asc, &.desc {
		padding: 5px 10px 6px;
		background-color: #fff;
		border-radius: 16px;
		
	}
	&.asc:after {
		margin-left: 10px;
		content:"↑";
	}
	&.desc:after {
		margin-left: 10px;
		content:"↓";
	}
	&:last-child {
		margin-right: 0;
	}
}

.catalog-list {
	padding: 25px 0px;
	background-color: #fff;
}
.card-h {
	display: block;
	padding: 10px 15px;
	margin-bottom: 25px !important;
	border-radius: 4px;
	border: 1px solid #dfe4eb;
	transition: all 0.3s ease;
	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 15px 15px rgba(0, 0, 0, 0.09);

	}
}
.card-h:hover .card-h__title {
}
.card-h__top-line {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.card-h__labels {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.card-h__label {
	padding: 3px 8px;
	font-size: 13px;
	font-weight: 500;
	line-height: 1.4;
	color: #fff;
	border-radius: 15px;
	flex-shrink: 0;
	&--new {
		background-color: #00a899;
		margin-right: 10px;
	}
	&--hot {
		background-color: #ee9900;
	}
	&--available {
		padding: 0;
		font-size: 14px;
		color: #4f5157;
	}
}
.card-h__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-start;
}
.card-h__image-wrap {
	text-align: center;
	flex-basis: 40%;
	margin-right: 25px;
	flex-shrink: 0;
}
.card-h__title {
	color: #174e83;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	margin-bottom: 7px;
	transition: all 0.3s ease;
}
.card-h__price-wrap {
	color: #4f5157;
	font-size: 14px;
	font-weight: 500;
}
.card-h__price-value, .card-h__currency {
	color: #000000;
	font-size: 20px;
	font-weight: 700;
}

.pagination__wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 14px 25px;
	margin-bottom: 50px;
	background-color: #fff;
	align-items: center;
}

.pagination__title {
	color: #000000;
	font-size: 14px;
	font-weight: 500;
	margin-right: 25px;
}
.uk-pagination, .pagination {
	padding: 0;
	margin: 0;
}
.uk-pagination>li>a {
	background: none;
}
.uk-pagination>li>a, .uk-pagination>li>span {
	padding: 0;
}
.uk-pagination>li>a {
	width: 32px;
	height: 32px;
	line-height: 32px;
	border-radius: 50%;
	text-align: center;
	font-weight: 500;
	&:hover {
		background-color: #f4f7fb;
		color: #174e83;
	}
}
.uk-pagination>li.uk-active>a {
	background-color: #f4f7fb;
	color: #174e83;
}
.uk-pagination>li.uk-pagination-previous>a, .uk-pagination>li.uk-pagination-previous>span, .uk-pagination>li.uk-pagination-next>a, .uk-pagination>li.uk-pagination-next>span {
	width: auto;
	height: auto;
	&:hover {
		background-color: unset;
		color: #174e83;
	}
}
.uk-pagination>li.uk-pagination-previous>a {
	margin-right: 20px;
}
.uk-pagination>li.uk-pagination-next>a {
	margin-left: 20px;
}
.pagination__previous-arr {
	margin-right: 10px;
}
.pagination__next-arr {
	margin-left: 10px;
}
.page-content {
	padding-bottom: 25px;
	color: #4f5157;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.sidebar-nav {
	padding: 0px 12px;
}
.sidebar-nav__list {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}
.sidebar-nav__item {
	position: relative;
	border-bottom: 1px solid #dfe4eb;
}
.sidebar-nav__link {
	padding: 12px 0px;
	display: block;
	width: calc(100% - 30px);
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
	color: #4f5157;
	&:last-child {
	}
	&:hover {
		color: #174e83;
	}
}
.sidebar-nav__arr {
	position: absolute;
	display: block;
	top: 0px;
	right: 0;
	margin-top: 8px;
	width: 30px;
	height: 30px;
	font-size: 10px;
	text-align: center;
	line-height: 30px;
	transition: all 0.3s ease;
	cursor: pointer;
	&.open {
		transform: rotateZ(90deg);
	}
}
.sidebar-nav__sublist {
	display: none;
	padding-left: 0;
	list-style-type: none;
}
.sidebar-nav__sublist .sidebar-nav__item {
	border-bottom: none;
}
.sidebar-nav__sublist .sidebar-nav__link {
	padding-left: 10px;
	width: 100%;
}
.brands-list {
	margin: 25px 0;
}
.brand {
	display: block;
	padding: 15px;
	margin-bottom: 25px !important;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #dfe4eb;
	font-size: 14px;
	font-weight: 500;
	color: #4f5157;
	cursor: pointer;
	transition: all 0.3s ease;
	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 15px 15px rgba(0, 0, 0, 0.09);
	}
}
.brand__img-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
	height: 70px;
}
.brand__img {
	max-height: 70px;
}

.brand-info {
	padding: 25px 0;
	margin-bottom: 25px;
}
.brand-info__img-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border-right: 1px solid #dfe4eb;
	margin-bottom: 25px !important;
}
.brand-info__doc {
	padding-top: 15px;
	border-top: 1px solid #dfe4eb;
	border-bottom: 1px solid #dfe4eb;
}

// news
.news__block {
	padding: 25px 0;
	border-top: 1px solid #dfe4eb;
	border-bottom: 1px solid #dfe4eb;
}
.news__img-wrap {
	display: block;
	border-radius: 4px;
}
.news__img {
	border-radius: 4px;
}
.news__date {
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	color: #4f5157;
}
.news__title {
	display: block;
	margin-bottom: 15px;
	font-size: 21px;
	font-weight: 500;
	line-height: 26px;	
	color: #174e83;
}
.call-block {
	position: relative;
	padding: 35px 85px;
	margin-bottom: 25px;
	border-radius: 4px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(#174e83, 0.3);
		border-radius: 4px;
		z-index: 0;
	}
}
.call-block__content {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;	
	z-index: 1;
	color: #fff;
}
.call-block__text {
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
}
.call-block__phones {
}
.call-block__contacts {
	margin-bottom: 25px;
	white-space: nowrap;
}
.call-block__contacts .contacts__icon {
	background-color: #174e83;
	color: #ffffff;
	flex-shrink: 0;
}
.call-block__contacts .contacts__phone-link {
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}
.call-block__connections {
	margin-left: 25px;
}
.call-block__connections .connection__icon {
	margin-right: 25px;
	color: #fff;
}
.call-block__connections .connection__txt {
	color: #ffffff;
}

.objects__list {
	padding: 20px 0px;
}
.object-block {
	display: block;
	margin-bottom: 30px !important;
}
.object-block__img-wrap {
	margin-bottom: 15px;
	border-radius: 4px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.object-block__img {
	width: 100%;	
	border-radius: 4px;
}
.object-block__title {
	color: #4f5157;
	font-size: 16px;
	font-weight: 500;
	line-height: 21px;
	transition: color 0.3s ease;
}
.object-block:hover .object-block__img-wrap {
	transform: translateY(-5px);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
}
.object-block:hover .object-block__title {
	color: #174e83;
}










@import 'animations';
@import 'media';