{% extends "layouts/main.html" %}
{% set title="Кабельно-проводниковая продукция" %}
{% block content %}
	<div class="uk-container">
		<div class="page-top">
			<h1>Кабельно-проводниковая продукция</h1>
			<ul class="uk-breadcrumb">
				<li><a href="">Главная</a></li>
				<li><a href="catalog.html">Каталог</a></li>
				<li><span>Кабельно-проводниковая продукция</span></li>
			</ul>			
		</div>
	</div>

	<div class="content">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-medium-10-10 uk-width-large-3-10">
					<aside class="left-sidebar">
					<div class="title uk-hidden-large">Каталог<span class="icon icon-down-arrow"></span></div>
						<ul>
						    <li class="active"><a href="">Cиловые кабели в ПВХ изоляции 0,66-6 кВ</a></li>
						    <li><a href="">Cиловые кабели в БПИ 1-110 кВ</a></li>
						    <li><a href="">Cиловые кабели&nbsp;в СПЭ изоляции 1-35 кВ</a></li>
						    <li><a href="">Cиловые кабели&nbsp;в СПЭ изоляции 110-220 кВ</a></li>
						    <li><a href="">Cиловые кабели&nbsp;в резине 0,38-0,66 кВ</a></li>
						    <li><a href="">Силовые&nbsp;провода</a></li>
						    <li><a href="">Монтажные&nbsp;кабели и провода</a></li>
						    <li><a href="">Самонесущие&nbsp;провода (СИП)</a></li>
						    <li><a href="">Неизолированные&nbsp;провода</a></li>
						    <li><a href="">Контрольные&nbsp;кабели</a></li>
						    <li><a href="">Пожаробезопасные&nbsp;кабели</a></li>
						    <li><a href="">Кабели и провода связи</a></li>
						    <li><a href="">Шахтные, экскаваторные и автотракторные провода</a></li>
						    <li><a href="">Кабели для установок погружных электронасосов, электродвигателей</a></li>
						    <li><a href="">Кабели и провода для электротранспорта</a></li>
						    <li><a href="">Обмоточные&nbsp;провода</a></li>
						    <li><a href="">Судовые кабели и провода</a></li>
						    <li><a href="">Кабели сигнально-блокировочные</a></li>
						    <li><a href="">Авиакосмические&nbsp;кабели и провода</a></li>
						    <li><a href="">Провода для промышленных взрывных работ</a></li>
						    <li><a href="">Термоэлектродные&nbsp;провода</a></li>
						    <li><a href="">Термостойкие&nbsp;провода</a></li>
						    <li><a href="">Плетенки металические экранирующие</a></li>
						</ul>
					</aside>
				</div>
				<div class="uk-width-medium-10-10 uk-width-large-7-10">
					<div class="product-list">
						<h2>Cиловые кабели в ПВХ изоляции 0,66-6 кВ</h2>
						<p>Актуальные цены узнавайте запросом на электронную почту <a href="mailto:e-mail@example.ru">e-mail@example.ru</a> или по телефону <a href="tel:123-45-6789">123-45-6789</a></p> 
						<ul>
							<li>NAYCY </li>
							<li>NAYY</li>
							<li>NUM-J</li>
							<li>NUM-O</li>
							<li>NYCY </li>
							<li>NYM-J</li>
							<li>NYM-O</li>
							<li>NYY </li>
							<li>АВБбШв</li>
							<li>АВБбШв-6</li>
							<li>АВБбШв-ХЛ</li>
							<li>АВБбШв-ХЛ-6</li>
							<li>АВБбШнг(А)-1</li>
							<li>АВБВ-1</li>
							<li>АВБВнг(А)-LS</li>
							<li>АВВ-1</li>
							<li>АВВБГ-1</li>
							<li>АВВГ-1</li>
							<li>АВВГ-6</li>
							<li>АВВГ-660</li>
							<li>АВВГ-П-1</li>
							<li>АВВГ-П-660</li>
							<li>АВВГ-ХЛ-1</li>
							<li>АВВГ-ХЛ-660</li>
							<li>АВВГЗ-1</li>
							<li>АВВГзнг(А)</li>
							<li>АВВГнг(А)</li>
							<li>АВВГнг(А)-LS</li>
							<li>АВВГНГ-П-1</li>
							<li>АВВГНГ-П-660</li>
							<li>АВВГЭ-ХЛ</li>
							<li>АВВГЭнг(А)-LS</li>
							<li>АВВГЭнг(А)-ХЛ</li>
							<li>АВПбШв-1</li>
							<li>ВББШВ-1</li>
							<li>ВББШВ-6</li>
							<li>ВББШВ-ХЛ</li>
							<li>ВББШВнг-LS</li>
							<li>ВББШВнг-ХЛ</li>
							<li>ВБбШнг(А)</li>
							<li>ВБбШнг(А)-LS</li>
							<li>ВБбШнг(А)-ХЛ</li>
							<li>ВБВ-1</li>
							<li>ВБВнг(А)-LS</li>
							<li>ВБШвнг(А)</li>
							<li>ВБШвнг(А)-LS</li>
							<li>ВБШвнг(А)-ХЛ</li>
							<li>ВВБГ-1</li>
							<li>ВВГ</li>
							<li>ВВГ-6</li>
							<li>ВВГ-П</li>
							<li>ВВГ-Пнг(А)-1</li>
							<li>ВВГ-Пнг(А)-LS</li>
							<li>ВВГ-ХЛ-1</li>
							<li>ВВГЗ-1</li>
							<li>ВВГЗНГ-1</li>
							<li>ВВГЗНГ-660</li>
							<li>ВВГнг(А)</li>
							<li>ВВГнг(А)-LS</li>
							<li>ВВГнг(А)-ХЛ</li>
							<li>ВВГНГ-LS-1</li>
							<li>ВВГНГ-LS-660</li>
							<li>ВВГНГ-П-1</li>
							<li>ВВГЭ-ХЛ</li>
							<li>ВВГЭнг(А)</li>
							<li>ВВГЭнг(А)-LS</li>
							<li>ВВГЭнг(А)-LS</li>
							<li>ВВГЭнг(А)-ХЛ</li>
							<li>ВПБШВ-1</li>
							<li>КГВВ</li>
							<li>КГВВ-ХЛ</li>
							<li>КГВВнг(А)</li>
							<li>КГВВнг(А)-FRLS</li>
							<li>КГВВнг(А)-LS</li>
							<li>КГВЭВнг(А)</li>
							<li>КГВЭВнг(А)-LS</li>
							<li>КГППнг(А)-HF</li>
							<li>КГПЭПнг(А)-HF</li>
							<li>КуГВВнг(А)-LS</li>
							<li>КуГППнг(А)-HF</li>
							<li>КуППнг(А)-HF</li>
							<li>КШВЭББШВ-6</li>
							<li>КШВЭББШНГ-LS-1.14</li>
							<li>КШВЭББШНГ-LS-6</li>
							<li>КШВЭПБШВ-6</li>
							<li>КШВЭПБШНГ-LS-1.14</li>
							<li>КГ, КГН, КГНТ</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

