{% extends "layouts/main.html" %}
{% set title="Новости" %}
{% block content %}
	<div class="uk-container">
		<div class="page-top">
			<h1>Новости</h1>
			<ul class="uk-breadcrumb">
				<li><a href="">Главная</a></li>
				<li><span>Новости</span></li>
			</ul>			
		</div>
	</div>

	<div class="content">
		<div class="uk-container">
			<div class="news-block">
				<div class="uk-grid">
					<div class="uk-width-medium-1-3">
						<div class="image">
							<a href="news-detail.html"><img src="img/no-photo.png" alt="Эльград"></a>
						</div>
					</div>
					<div class="uk-width-medium-2-3">
						<div class="title"><a href="news-detail.html">У нас обновился сайт</a></div>
						<div class="date">15 декабря 2018</div>
						<p>У нас обновился сайт У нас обновился сайт У нас обновился сайт У нас обновился сайт У нас обновился сайт У нас обновился сайт У нас обновился сайт У нас обновился сайт.</p>
					</div>					
				</div>
			</div>

			<div class="news-block">
				<div class="uk-grid">
					<div class="uk-width-medium-1-3">
						<div class="image">
							<a href="news-detail.html"><img src="img/no-photo.png" alt="Эльград"></a>
						</div>
					</div>
					<div class="uk-width-medium-2-3">
						<div class="title"><a href="news-detail.html">У нас обновился сайт</a></div>
						<div class="date">15 декабря 2018</div>
						<p>У нас обновился сайт.</p>
					</div>					
				</div>
			</div>

			<div class="news-block">
				<div class="uk-grid">
					<div class="uk-width-medium-1-3">
						<div class="image">
							<a href="news-detail.html"><img src="img/no-photo.png" alt="Эльград"></a>
						</div>
					</div>
					<div class="uk-width-medium-2-3">
						<div class="title"><a href="news-detail.html">У нас обновился сайт</a></div>
						<div class="date">15 декабря 2018</div>
						<p>У нас обновился сайт У нас обновился сайт У нас обновился сайт У нас обновился сайт У нас обновился сайт У нас обновился сайт У нас обновился сайт У нас обновился сайт.</p>
					</div>					
				</div>
			</div>
		</div>
	</div>
{% endblock %}