{% extends "layouts/main.html" %}
{% set title="Проекты" %}
{% block content %}
	<div class="uk-container">
		<div class="page-top">
			<h1>ТЦ "Эльград"</h1>
			<ul class="uk-breadcrumb">
				<li><a href="">Главная</a></li>
				<li><a href="">Проекты</a></li>
				<li><span>ТЦ "Эльград"</span></li>
			</ul>			
		</div>
	</div>

	<div class="content project-detail">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-large-2-3">
					<div class="project-slider">
						<img src="img/project-1.jpg" alt="">		
						<img src="img/project-2.jpg" alt="">		
						<img src="img/project-3.jpg" alt="">		
						<img src="img/project-4.jpg" alt="">		
						<img src="img/project-5.jpg" alt="">		
					</div>
				</div>
				<div class="uk-width-large-1-3">
					<div class="title">Характеристики</div>
					<div class="specifications">
						Тут чо-нить типо
						<br>
						заказчик
						<br>
						адресс
						<br>
						любая другая информация
						<br>
						возможно в виде таблицы
					</div>
				</div>
			</div>
			<div class="descr">
				<div class="title">Описание</div>
				<p>Полет фантазии, смешные случаи, репризы, трудности с которыми столкнулись, цитаты строителей.  Полет фантазии, смешные случаи, репризы, трудности с которыми столкнулись, цитаты строителей.  Полет фантазии, смешные случаи, репризы, трудности с которыми столкнулись, цитаты строителей.  Полет фантазии, смешные случаи, репризы, трудности с которыми столкнулись, цитаты строителей.</p>
				<p>Полет фантазии, смешные случаи, репризы, трудности с которыми столкнулись, цитаты строителей.  Полет фантазии, смешные случаи, репризы, трудности с которыми столкнулись, цитаты строителей.  Полет фантазии, смешные случаи, репризы, трудности с которыми столкнулись, цитаты строителей.  Полет фантазии, смешные случаи, репризы, трудности с которыми столкнулись, цитаты строителей.</p>
				<p>Полет фантазии, смешные случаи, репризы, трудности с которыми столкнулись, цитаты строителей.  Полет фантазии, смешные случаи, репризы, трудности с которыми столкнулись, цитаты строителей.  Полет фантазии, смешные случаи, репризы, трудности с которыми столкнулись, цитаты строителей.  Полет фантазии, смешные случаи, репризы, трудности с которыми столкнулись, цитаты строителей.</p>
				<p>КОРОЧЕ ТУТ ЧИСТО КОНТЕНТ КОРОЧЕ ТУТ ЧИСТО КОНТЕНТ КОРОЧЕ ТУТ ЧИСТО КОНТЕНТ</p>				
			</div>
		</div>
	</div>
{% endblock %}

