{% extends "layouts/main.html" %}
{% set title="Сотрудники" %}
{% block content %}
	<div class="uk-container">
		<div class="page-top">
			<h1>Сотрудники</h1>
			<ul class="uk-breadcrumb">
				<li><a href="">Главная</a></li>
				<li><a href="">Компания</a></li>
				<li><span>Сотрудники</span></li>
			</ul>			
		</div>
	</div>

	<div class="content">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-medium-10-10 uk-width-large-3-10">
					<aside class="left-sidebar">
						<div class="title uk-hidden-large">Компания<span class="icon icon-down-arrow"></span></div>
						<ul>
							<li><a href="">О компании</a></li>
							<li><a href="">История</a></li>
							<li><a href="licenses.html">Лицензии</a></li>
							<li><a href="">Реквизиты</a></li>
							<li class="active"><a href="staff.html">Сотрудники</a></li>
						</ul>
					</aside>
				</div>
				<div class="uk-width-medium-10-10 uk-width-large-7-10">
					<p>Бла бла бла, можно и написать чо-нить </p>
					<div class="staff-list">
						<div class="uk-grid">
							<div class="uk-width-medium-1-2 uk-width-large-1-3">
								<div class="staff-block">
									<div class="foto">
										<img src="img/persona.png" alt="">
									</div>
									<div class="info">
										<div class="name">Иванов Иван Иваныч</div>
										<div class="position">директор</div>
										<a href="maito:email@example.ru"><span class="icon icon-envelope"></span>email@example.ru</a>
										<a href="tel:+7(123)456-78-90"><span class="icon icon-phone"></span>+7(123)456-78-90</a>
									</div>
								</div>
							</div>
							<div class="uk-width-medium-1-2 uk-width-large-1-3">
								<div class="staff-block">
									<div class="foto">
										<img src="img/persona.png" alt="">
									</div>
									<div class="info">
										<div class="name">Иванов Иван Иваныч</div>
										<div class="position">директор</div>
										<a href="maito:email@example.ru"><span class="icon icon-envelope"></span>email@example.ru</a>
										<a href="tel:+7(123)456-78-90"><span class="icon icon-phone"></span>+7(123)456-78-90</a>
									</div>
								</div>
							</div>
							<div class="uk-width-medium-1-2 uk-width-large-1-3">
								<div class="staff-block">
									<div class="foto">
										<img src="img/persona.png" alt="">
									</div>
									<div class="info">
										<div class="name">Иванов Иван Иваныч</div>
										<div class="position">директор</div>
										<a href="maito:email@example.ru"><span class="icon icon-envelope"></span>email@example.ru</a>
										<a href="tel:+7(123)456-78-90"><span class="icon icon-phone"></span>+7(123)456-78-90</a>
									</div>
								</div>
							</div>
							<div class="uk-width-medium-1-2 uk-width-large-1-3">
								<div class="staff-block">
									<div class="foto">
										<img src="img/persona.png" alt="">
									</div>
									<div class="info">
										<div class="name">Иванов Иван Иваныч</div>
										<div class="position">директор</div>
										<a href="maito:email@example.ru"><span class="icon icon-envelope"></span>email@example.ru</a>
										<a href="tel:+7(123)456-78-90"><span class="icon icon-phone"></span>+7(123)456-78-90</a>
									</div>
								</div>
							</div>
							<div class="uk-width-medium-1-2 uk-width-large-1-3">
								<div class="staff-block">
									<div class="foto">
										<img src="img/persona.png" alt="">
									</div>
									<div class="info">
										<div class="name">Иванов Иван Иваныч</div>
										<div class="position">директор</div>
										<a href="maito:email@example.ru"><span class="icon icon-envelope"></span>email@example.ru</a>
										<a href="tel:+7(123)456-78-90"><span class="icon icon-phone"></span>+7(123)456-78-90</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

