@font-face {
  font-family: 'PFHighway';
  src: url("../fonts/PFHighwaySansPro-Regular.eot");
  src: url("../fonts/PFHighwaySansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFHighwaySansPro-Regular.woff2") format("woff2"), url("../fonts/PFHighwaySansPro-Regular.woff") format("woff"), url("../fonts/PFHighwaySansPro-Regular.ttf") format("truetype"), url("../fonts/PFHighwaySansPro-Regular.svg#PFHighwaySansPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PragmaticaLightC';
  src: url("../fonts/PragmaticaLightC.eot");
  src: url("../fonts/PragmaticaLightC.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaLightC.woff2") format("woff2"), url("../fonts/PragmaticaLightC.woff") format("woff"), url("../fonts/PragmaticaLightC.ttf") format("truetype"), url("../fonts/PragmaticaLightC.svg#PragmaticaLightC") format("svg");
  font-weight: 300;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: PFHighway, sans-serif;
  color: #111;
}

.container {
  margin: 0 auto;
  background-color: #fff;
}

.button {
  display: block;
  padding: 6px;
  text-decoration: none;
  background-color: #111;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 28px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #fff;
  border: 2px solid #111;
  color: #111;
}

.hidden-medium {
  display: block;
}

.visible-medium {
  display: none;
}

.card {
  padding: 10% 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1366px;
  margin: 0 auto;
}

.card__img-wrap {
  margin-bottom: 27px;
}

.card__title {
  margin-bottom: 25px;
  font-family: PFHighway, sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
  color: #111;
}

.card__descr {
  margin-bottom: 31px;
  font-family: PragmaticaLightC, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #999;
}

.card__price-wrap {
  margin-bottom: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-family: PFHighway, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

.card__old-price {
  margin-left: 24px;
  font-size: 20px;
  line-height: 28px;
  color: #999;
}

@media (min-width: 640px) {
  .button {
    padding: 12px;
    font-size: 20px;
    line-height: 28px;
  }

  .hidden-medium {
    display: none;
  }

  .visible-medium {
    display: block;
  }

  .card {
    padding: 10% 7%;
  }

  .card__img-wrap {
    margin-bottom: 40px;
  }

  .card__title {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 27px;
  }

  .card__descr {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 38px;
  }

  .card__buy-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .card__price-wrap {
    margin-bottom: 0;
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
    font-size: 36px;
    line-height: 44px;
  }

  .card__old-price {
    font-size: 32px;
    line-height: 38px;
  }

  .card__button {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
  }
}

@media (min-width: 960px) {
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .card__img-wrap {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-bottom: 0;
  }

  .card__info {
    margin-left: 4.5%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .card__title {
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 16px;
  }

  .card__buy-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
  }

  .card__price-wrap {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 23px;
  }

  .card__button {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 240px;
  }
}

@media (min-width: 1366px) {
  .card {
    padding: 10%;
  }

  .card__title {
    font-size: 64px;
    line-height: 72px;
  }
}