{% extends "layouts/default.html" %}
{% set title="Новости" %}
{% block content %}

<div class="breadcrumbs">
	<div class="uk-container uk-container--large">
		<ul class="breadcrumbs__list">
			<li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
			<li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">О компании</a></li>
			<li class="breadcrumbs__item"><span class="breadcrumbs__link">Новости</span></li>
		</ul>
	</div>
</div><!-- breadcrumbs -->

<div class="page-content page-content--two-columms">
	<div class="uk-container uk-container--large">
		<div class="sidebar">
			<nav class="sidebar-nav">
				<ul class="sidebar-nav__list">
					<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">О компании</a></li>
					<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Новости</a></li>
					<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Вакансии</a></li>
					<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Сотрудничество</a></li>
					<li class="sidebar-nav__item">
						<a href="" class="sidebar-nav__link">Партнеры</a>
						<span class="icon icon-arrow-right sidebar-nav__arr"></span>
						<ul class="sidebar-nav__sublist">
							<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Джилекс</a></li>
							<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Grundfos</a></li>
							<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Wilo</a></li>
							<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">IMP Pumps</a></li>
						</ul>
					</li>
					<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Объекты</a></li>
				</ul>
			</nav>
		</div><!-- sidebar -->		

		<div class="main-area uk-clearfix">			
			<h1 class="page-title color-blue">Новости</h1>	
			<div class="news__list">

				<div class="news__block">
					<div class="news__content">
						<div class="news__date">11 марта 2019</div>
						<a href="" class="news__title">«Карельский окатыш» провел уникальную для России операцию – подъем 670-тонного экскаватора</a>
						<div class="news__descr">В управлении ремонтов комбината «Карельский окатыш» (входит в Северсталь), провели уникальную операцию – подняли 670-тонный экскаватор, чтобы выполнить его капитальный ремонт.</div>
					</div>
				</div>

				<div class="news__block">
					<div class="uk-grid">
						<div class="uk-width-medium-1-4">
							<a href="" class="news__img-wrap">
								<img src="img/news-1.jpg" alt="" class="news__img">
							</a>
						</div>
						<div class="uk-width-medium-3-4">
							<div class="news__content">
								<div class="news__date">10 марта 2019</div>
								<a href="" class="news__title">БМК в феврале увеличил отгрузку метизов</a>
								<div class="news__descr">Белорецкий металлургический комбинат (АО «БМК», входит в Группу «Мечел») в феврале 2019 года отгрузил потребителям на 11% больше метизов, чем за аналогичный месяц прошлого года. В феврале БМК реализовал более 38 тыс. тонн металлических изделий. </div>
							</div>
						</div>
					</div>
				</div>

				<div class="news__block">
					<div class="news__content">
						<div class="news__date">08 марта 2019</div>
						<a href="" class="news__title">С праздником 8 Марта! (видео)</a>
						<div class="news__descr">Металлург — типично мужская профессия?! Как бы не так! Научно-технический прогресс сокращает потребность в рабочих местах с тяжелыми условиями труда и высокой нагрузкой. Металлургия, металлообработка, машиностроение становятся все более открытыми для представительниц прекрасной половины человечества. </div>
					</div>
				</div>

				<div class="news__block">
					<div class="uk-grid">
						<div class="uk-width-medium-1-4">
							<a href="" class="news__img-wrap">
								<img src="img/news-2.jpg" alt="" class="news__img">
							</a>
						</div>
						<div class="uk-width-medium-3-4">
							<div class="news__content">
								<div class="news__date">28 февраля 2019</div>
								<a href="" class="news__title">ЧМК провел праздничную лотерею к 8 марта</a>
								<div class="news__descr">Челябинский металлургический комбинат (ЧМК, входит в Мечел) провел праздничную лотерею, посвященную Международному женскому дню.</div>
							</div>
						</div>
					</div>
				</div>

				<div class="news__block">
					<div class="uk-grid">
						<div class="uk-width-medium-1-4">
							<a href="" class="news__img-wrap">
								<img src="img/news-3.jpg" alt="" class="news__img">
							</a>
						</div>
						<div class="uk-width-medium-3-4">
							<div class="news__content">
								<div class="news__date">21 февраля 2019</div>
								<a href="" class="news__title">«Трест Коксохиммонтаж» приступил к строительству второго блока и тракта подачи угля по проекту КБ-11 на ЧерМК</a>
								<div class="news__descr">АО «Трест Коксохиммонтаж» приступило к возведению второго блока и тракта подачи угля в угольную башню для загрузки блоков №1 и №2 по проекту строительства новой коксовой батареи (КБ-11) на Череповецком ...</div>
							</div>
						</div>
					</div>
				</div>

			</div><!-- news__list -->

			<div class="pagination__wrap">
				<div class="pagination__title">Страница:</div>
				<ul class="uk-pagination pagination">
					<li class="uk-pagination-previous pagination__item--prev"><a href=""><span class="pagination__previous-arr">&#8592;</span><span class="pagination__previous-text">предыдущая</span></a></li>
				    <li class="pagination__item uk-active"><a class="pagination__link" href="">1</a></li>
				    <li class="pagination__item"><a class="pagination__link" href="">2</a></li>
				    <li class="pagination__item"><a class="pagination__link" href="">3</a></li>
				    <li class="uk-pagination-next pagination__item--next"><a href=""><span class="pagination__next-text">следующая</span><span class="pagination__next-arr">&#8594;</span></a></li>
				</ul>
			</div><!-- pagination__wrap -->

		</div><!-- main-area -->		
	</div><!-- uk-container uk-container--large -->
</div><!-- page-content page-content--two-columms -->


{% endblock %}