{% extends "layouts/default.html" %}
{% set title="Партнеры" %}
{% block content %}

<div class="breadcrumbs">
	<div class="uk-container uk-container--large">
		<ul class="breadcrumbs__list">
			<li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
			<li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">О компании</a></li>
			<li class="breadcrumbs__item"><span class="breadcrumbs__link">Партнеры</span></li>
		</ul>
	</div>
</div><!-- breadcrumbs -->

<div class="page-content page-content--two-columms">
	<div class="uk-container uk-container--large">
		<div class="sidebar">
			<nav class="sidebar-nav">
				<ul class="sidebar-nav__list">
					<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">О компании</a></li>
					<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Новости</a></li>
					<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Вакансии</a></li>
					<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Сотрудничество</a></li>
					<li class="sidebar-nav__item">
						<a href="partners.html" class="sidebar-nav__link">Партнеры</a>
						<span class="icon icon-arrow-right sidebar-nav__arr"></span>
						<ul class="sidebar-nav__sublist">
							<li class="sidebar-nav__item"><a href="partner-detail.html" class="sidebar-nav__link">Джилекс</a></li>
							<li class="sidebar-nav__item"><a href="partner-detail.html" class="sidebar-nav__link">Grundfos</a></li>
							<li class="sidebar-nav__item"><a href="partner-detail.html" class="sidebar-nav__link">Wilo</a></li>
							<li class="sidebar-nav__item"><a href="partner-detail.html" class="sidebar-nav__link">IMP Pumps</a></li>
						</ul>
					</li>
					<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Объекты</a></li>
				</ul>
			</nav>
		</div><!-- sidebar -->




		<div class="main-area uk-clearfix">
			<h1 class="page-title color-blue">Партнеры</h1>	
			<p style="font-size: 20px;">В нашем каталоге вы найдете более 50 брендов компаний производителей</p>

			<div class="brands-list">
				<div class="uk-grid">
					<div class="uk-width-1-1 uk-width-medium-1-3 uk-width-large-1-4">
						<a class="brand" href="partner-detail.html">
							<div class="brand__img-wrap"><img class="brand__img" src="img/djilecs.png" alt=""></div>
							<div class="brand__title">Джилекс</div>
						</a>
					</div>
					<div class="uk-width-1-1 uk-width-medium-1-3 uk-width-large-1-4">
						<a class="brand" href="partner-detail.html">
							<div class="brand__img-wrap"><img class="brand__img" src="img/grundfos.png" alt=""></div>
							<div class="brand__title">Grundfos</div>
						</a>
					</div>
					<div class="uk-width-1-1 uk-width-medium-1-3 uk-width-large-1-4">
						<a class="brand" href="partner-detail.html">
							<div class="brand__img-wrap"><img class="brand__img" src="img/wilo.png" alt=""></div>
							<div class="brand__title">Wilo</div>
						</a>
					</div>
					<div class="uk-width-1-1 uk-width-medium-1-3 uk-width-large-1-4">
						<a class="brand" href="partner-detail.html">
							<div class="brand__img-wrap"><img class="brand__img" src="img/imppumps.png" alt=""></div>
							<div class="brand__title">IMP Pumps</div>
						</a>
					</div>
					<div class="uk-width-1-1 uk-width-medium-1-3 uk-width-large-1-4">
						<a class="brand" href="partner-detail.html">
							<div class="brand__img-wrap"><img class="brand__img" src="img/henco.png" alt=""></div>
							<div class="brand__title">Henco</div>
						</a>
					</div>
					<div class="uk-width-1-1 uk-width-medium-1-3 uk-width-large-1-4">
						<a class="brand" href="partner-detail.html">
							<div class="brand__img-wrap"><img class="brand__img" src="img/valtec.png" alt=""></div>
							<div class="brand__title">Valtec</div>
						</a>
					</div>
					<div class="uk-width-1-1 uk-width-medium-1-3 uk-width-large-1-4">
						<a class="brand" href="partner-detail.html">
							<div class="brand__img-wrap"><img class="brand__img" src="img/rehau.png" alt=""></div>
							<div class="brand__title">Rehau</div>
						</a>
					</div>
					<div class="uk-width-1-1 uk-width-medium-1-3 uk-width-large-1-4">
						<a class="brand" href="partner-detail.html">
							<div class="brand__img-wrap"><img class="brand__img" src="img/pprc.png" alt=""></div>
							<div class="brand__title">PPRC</div>
						</a>
					</div>
					<div class="uk-width-1-1 uk-width-medium-1-3 uk-width-large-1-4">
						<a class="brand" href="partner-detail.html">
							<div class="brand__img-wrap"><img class="brand__img" src="img/rockwool.png" alt=""></div>
							<div class="brand__title">Rockwool</div>
						</a>
					</div>
					<div class="uk-width-1-1 uk-width-medium-1-3 uk-width-large-1-4">
						<a class="brand" href="partner-detail.html">
							<div class="brand__img-wrap"><img class="brand__img" src="img/kflex.png" alt=""></div>
							<div class="brand__title">K-FLEX</div>
						</a>
					</div>
					<div class="uk-width-1-1 uk-width-medium-1-3 uk-width-large-1-4">
						<a class="brand" href="partner-detail.html">
							<div class="brand__img-wrap"><img class="brand__img" src="img/energoflex.png" alt=""></div>
							<div class="brand__title">Energoflex Super</div>
						</a>
					</div>
					<div class="uk-width-1-1 uk-width-medium-1-3 uk-width-large-1-4">
						<a class="brand" href="partner-detail.html">
							<div class="brand__img-wrap"><img class="brand__img" src="img/tangit.png" alt=""></div>
							<div class="brand__title">Tangit</div>
						</a>
					</div>

				</div>
			</div>
		</div><!-- main-area -->		
	</div><!-- uk-container uk-container--large -->
</div><!-- page-content page-content--two-columms -->


{% endblock %}