{% extends "layouts/default.html" %}
{% set title="Торговая марка ACV" %}
{% block content %}

<div class="breadcrumbs">
	<div class="uk-container uk-container--large">
		<ul class="breadcrumbs__list">
			<li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
			<li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">О компании</a></li>
			<li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Партнеры</a></li>
			<li class="breadcrumbs__item"><span class="breadcrumbs__link">Торговая марка ACV</span></li>
		</ul>
	</div>
</div><!-- breadcrumbs -->

<div class="page-content page-content--two-columms">
	<div class="uk-container uk-container--large">
		<div class="sidebar">
			<nav class="sidebar-nav">
				<ul class="sidebar-nav__list">
					<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">О компании</a></li>
					<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Новости</a></li>
					<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Вакансии</a></li>
					<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Сотрудничество</a></li>
					<li class="sidebar-nav__item">
						<a href="partners.html" class="sidebar-nav__link">Партнеры</a>
						<span class="icon icon-arrow-right sidebar-nav__arr"></span>
						<ul class="sidebar-nav__sublist">
							<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Джилекс</a></li>
							<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Grundfos</a></li>
							<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Wilo</a></li>
							<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">IMP Pumps</a></li>
						</ul>
					</li>
					<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Объекты</a></li>
				</ul>
			</nav>
		</div><!-- sidebar -->		

		<div class="main-area uk-clearfix">			
			<div class="brand-info">
				<div class="uk-grid">
					<div class="uk-width-medium-1-3">
						<div class="brand-info__img-wrap">
							<img class="brand-info__img" src="img/brand-info.jpg" alt="">
						</div>
					</div>
					<div class="uk-width-medium-2-3">
						<h1 class="page-title color-blue brand-info__title">Торговая марка ACV</h1>	
						<div class="brand-info__descr">
							<p>8 июля 1922 года в Брюсселе группа инженеров основала Мастерскую по Конструированию Оборудования для Отопления и Вентиляции, для «производства и продажи котлов, радиаторов, конденсаторов и т.п» («Ateliers de Construction d’Appareils de Chauffage et de Ventilation» - ACV), а в 60-х компания поменяла стратегию и стала сверхкомпанией.</p>
						</div>
					</div>
				</div>				
			
				<div class="brand-info__doc">
					<div class="uk-grid">
						<div class="uk-width-medium-1-3">
							<a href="" class="link-w-icon specification__link-download">
								<div class="link-w-icon__icon-wrap"><span class="icon icon-doc"></span></div>
								<div class="link-w-icon__txt">Гарантия<br>производителя</div>
							</a>
						</div>
						<div class="uk-width-medium-1-3">
							<a href="" class="link-w-icon specification__link-download">
								<div class="link-w-icon__icon-wrap"><span class="icon icon-doc"></span></div>
								<div class="link-w-icon__txt">Технические<br>характеристики</div>
							</a>
						</div>
						<div class="uk-width-medium-1-3">
							<a href="" class="link-w-icon specification__link-download">
								<div class="link-w-icon__icon-wrap"><span class="icon icon-doc"></span></div>
								<div class="link-w-icon__txt">Сертификат<br>соответствия</div>
							</a>
						</div>						
					</div>					
				</div><!-- brand-info__doc -->

				<div class="brand-info__catalog">
					<div class="catalog-section__list">
						<div class="uk-grid uk-grid-divider-2n">
							<div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-3">
								<div class="catalog-block">
									<div class="catalog-block__image" style="background-image: url(img/catalog-list-1.png);"></div>
									<div class="catalog-block__text">
										<a href="" class="catalog-block__title">Соединительные детали для труб</a>
										<ul class="catalog-block__list">
											<li class="catalog-block__item"><a href="" class="catalog-block__link">Отводы стальные</a></li>
											<li class="catalog-block__item"><a href="" class="catalog-block__link">Стальные концентрические переходы</a></li>
											<li class="catalog-block__item"><a href="" class="catalog-block__link">Фланец стальной</a></li>
											<li class="catalog-block__item"><a href="" class="catalog-block__link">Тройники ПНД сварные</a></li>
											<li class="catalog-block__item"><a href="" class="catalog-block__link">Стальные эллиптические заглушки</a></li>
										</ul>
									</div>
								</div>
							</div>			
							<div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-3">
								<div class="catalog-block">
									<div class="catalog-block__image" style="background-image: url(img/catalog-list-2.png);"></div>
									<div class="catalog-block__text">
										<a href="" class="catalog-block__title">Трубы для канализации и водоотведения</a>
										<ul class="catalog-block__list">
											<li class="catalog-block__item"><a href="" class="catalog-block__link">Трубы и фасонные части для внутр. канализации ПП, ПВХ, ЧК</a></li>
											<li class="catalog-block__item"><a href="" class="catalog-block__link">Трубы и фитинги для наружной канализации</a></li>
											<li class="catalog-block__item"><a href="" class="catalog-block__link">Люки, водостоки, дождеприемники</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-3">
								<div class="catalog-block">
									<div class="catalog-block__image" style="background-image: url(img/catalog-list-3.png);"></div>
									<div class="catalog-block__text">
										<a href="" class="catalog-block__title">Трубопроводная и запорная арматура</a>
										<ul class="catalog-block__list">
											<li class="catalog-block__item"><a href="" class="catalog-block__link">Задвижки</a></li>
											<li class="catalog-block__item"><a href="" class="catalog-block__link">Затворы дисковые</a></li>
											<li class="catalog-block__item"><a href="" class="catalog-block__link">Краны шаровые</a></li>
											<li class="catalog-block__item"><a href="" class="catalog-block__link">Краны латунные</a></li>
											<li class="catalog-block__item"><a href="" class="catalog-block__link">Вентили, клапаны</a></li>
											<li class="catalog-block__item"><a href="" class="catalog-block__link">Фильтры</a></li>
										</ul>
									</div>
								</div>
							</div>		
						</div>
					</div><!-- catalog-section__list -->					
				</div><!-- brand-info__catalog -->

			</div><!-- brand-info -->

			<section class="section--in content-section">
				<h2>Заголовок  для SEO</h2>
				<p>Накопленный за эти годы опыт позволяет полностью обеспечить потребности партнеров в части инженерной сантехники и позволяет нашим клиентам осуществлять реализацию проектов любого масштаба и сложности от квартиры или коттеджа до торгового цента, завода и микрорайона.</p>
				<p>Мы предлагаем самый большой ассортимент бытовой сантехники, трубопроводной арматуры, отопительных и измерительных приборов, теплоизоляционного материала, канализационного и насосного оборудования, уплотнительных материалов, сантехнических инструментов, оборудования для вентиляции и сопутствующих товаров. Мы постоянно расширяем и обновляем ассортимент продукции представленный в нашем каталоге.</p>
			</section>

		</div><!-- main-area -->		
	</div><!-- uk-container uk-container--large -->
</div><!-- page-content page-content--two-columms -->


{% endblock %}