{% extends "layouts/default.html" %}
{% set title="Монтаж оборудования" %}
{% block content %}

<div class="breadcrumbs">
	<div class="uk-container uk-container--large">
		<ul class="breadcrumbs__list">
			<li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
			<li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Услуги</a></li>
			<li class="breadcrumbs__item"><span class="breadcrumbs__link">Монтаж оборудования</span></li>
		</ul>
	</div>
</div><!-- breadcrumbs -->

<div class="page-content page-content--two-columms">
	<div class="uk-container uk-container--large">
		<div class="sidebar">
			<nav class="sidebar-nav">
				<ul class="sidebar-nav__list">
					<li class="sidebar-nav__item">
						<a href="" class="sidebar-nav__link">Монтаж оборудования</a>
						<span class="icon icon-arrow-right sidebar-nav__arr"></span>
						<ul class="sidebar-nav__sublist">
							<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Пункт меню</a></li>
							<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Пункт меню</a></li>
							<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Пункт меню</a></li>
							<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Пункт меню</a></li>
						</ul>
					</li>
					<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Изготовление изделий из трубного и листового металла</a></li>
					<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Производство трубной заготовки нестандартных размеров</a></li>
					<li class="sidebar-nav__item"><a href="" class="sidebar-nav__link">Цинкование металлических изделий</a></li>
				</ul>
			</nav>
		</div><!-- sidebar -->		

		<div class="main-area uk-clearfix">			
			<h1 class="page-title color-blue">Монтаж оборудования</h1>
			<p style="font-weight:500; font-size: 20px;">Компания «АКВА СИСТЕМ» с 2002 года успешно занимается крупной и мелкооптовой продажей сантехнического инженерного оборудования, для систем отопления, водоснабжения, вентиляции и водоотведения.</p>

			<p>Компания является  официальном партнером многих ведущих Российских и мировых производителей инженерного оборудования. Накопленный за эти годы опыт позволяет полностью обеспечить потребности партнеров в части инженерной сантехники и позволяет нашим клиентам осуществлять реализацию проектов любого масштаба и сложности от квартиры или коттеджа до торгового цента, завода и микрорайона.</p>
			
			<blockquote class="blockquote">
				Менеджеры Компании «АКВА СИСТЕМ» проконсультируют Вас по всему оборудованию  нашего каталога и помогут сделать правильный выбор в подборе материалов для монтажа оборудования.
				<div class="blockquote__name">Андрей Смирнов, PR-менеджер</div>
			</blockquote>


			<h3>Ненумерованный список (h3)</h3>
			<p>Мы предлагаем самый большой ассортимент бытовой сантехники, трубопроводной арматуры, отопительных и измерительных приборов, теплоизоляционного материала, канализационного и насосного оборудования, уплотнительных материалов, сантехнических инструментов, оборудования для вентиляции и сопутствующих товаров. Мы постоянно расширяем и обновляем ассортимент продукции представленный в нашем каталоге.</p>

			<ul>
				<li><b>Форма и условия оплаты.</b><br>Оплата производится по безналичному расчету. Отсрочка платежа возможна для постоянных клиентов компании после заключения кредитного договора. Схему предоставления кредита уточняйте у менеджеров компании.</li>
				<li><b>Оформление заказа.</b><br>Вы можете оформить заказ на интересующий Вас товар отправив заявку по факсу или электронной почте, либо позвонив нам по телефону. В заявке необходимо указать наименование и количество товара.</li>
				<li><b>Условия резервирования товара.</b><br>Товар, находящийся на складе, резервируется на 1 рабочий день согласно выставленному счету на оплату, если иное не согласовано с менеджером отдела продаж. Также Вы можете зарезервировать товар, находящийся «в пути». В этом случае товар резервируется до момента поступления его на склад компании, после чего заказ и условия поставки дополнительно уточняются.</li>
			</ul>
			
			<hr>
			
			<h3>Нумерованный список (h3)</h3>
			<ol>
				<li><b>Форма и условия оплаты.</b><br>Оплата производится по безналичному расчету. Отсрочка платежа возможна для постоянных клиентов компании после заключения кредитного договора. Схему предоставления кредита уточняйте у менеджеров компании.</li>
				<li><b>Оформление заказа.</b><br>Вы можете оформить заказ на интересующий Вас товар отправив заявку по факсу или электронной почте, либо позвонив нам по телефону. В заявке необходимо указать наименование и количество товара.</li>
				<li><b>Условия резервирования товара.</b><br>Товар, находящийся на складе, резервируется на 1 рабочий день согласно выставленному счету на оплату, если иное не согласовано с менеджером отдела продаж. Также Вы можете зарезервировать товар, находящийся «в пути». В этом случае товар резервируется до момента поступления его на склад компании, после чего заказ и условия поставки дополнительно уточняются.</li>
			</ol>

			<div class="call-block" style="background-image: url(img/call-block.jpg);">
				<div class="call-block__content">
					<div class="call-block__text">Чтобы заказать нашу услугу позвоните<br>по телефону или воспользуйтесь<br> формой обратной связи</div>
					<div class="call-block__phones">
						<div class="contacts call-block__contacts">
							<div class="contacts__icon"><span class="icon icon-phone"></span></div>
							<div class="contacts__txt">
								<a href="tel:88007777777" class="contacts__phone-link">8-800-777-77-77</a>
								<a href="tel:+74955147581" class="contacts__phone-link">+7&nbsp;495&nbsp;514-75-81</a>
							</div>
						</div>

						<a class="connection call-block__connections" href="#backCall" data-uk-modal>
							<div class="connection__icon"><span class="icon icon-phone_in"></span></div>
							<div class="connection__txt">Обратная связь</div>
						</a>
					</div>					
				</div>
			</div>

		</div><!-- main-area -->		
	</div><!-- uk-container uk-container--large -->
</div><!-- page-content page-content--two-columms -->


{% endblock %}