@font-face {
    font-family: 'Graphik';
    src: url('../fonts/MegaFonGraphikLCWeb-Bold.eot');
    src: url('../fonts/MegaFonGraphikLCWeb-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MegaFonGraphikLCWeb-Bold.woff2') format('woff2'),
        url('../fonts/MegaFonGraphikLCWeb-Bold.woff') format('woff'),
        url('../fonts/MegaFonGraphikLCWeb-Bold.ttf') format('truetype'),
        url('../fonts/MegaFonGraphikLCWeb-Bold.svg#MegaFonGraphikLCWeb-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/MegaFonGraphikLCWeb-Regular.eot');
    src: url('../fonts/MegaFonGraphikLCWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MegaFonGraphikLCWeb-Regular.woff2') format('woff2'),
        url('../fonts/MegaFonGraphikLCWeb-Regular.woff') format('woff'),
        url('../fonts/MegaFonGraphikLCWeb-Regular.ttf') format('truetype'),
        url('../fonts/MegaFonGraphikLCWeb-Regular.svg#MegaFonGraphikLCWeb-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/MegaFonGraphikLCWeb-Med.eot');
    src: url('../fonts/MegaFonGraphikLCWeb-Med.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MegaFonGraphikLCWeb-Med.woff2') format('woff2'),
        url('../fonts/MegaFonGraphikLCWeb-Med.woff') format('woff'),
        url('../fonts/MegaFonGraphikLCWeb-Med.ttf') format('truetype'),
        url('../fonts/MegaFonGraphikLCWeb-Med.svg#MegaFonGraphikLCWeb-Med') format('svg');
    font-weight: 500;
    font-style: normal;
}