@media (max-width: 991px) {
	.section {
		padding: 50px 0;
	}
	.section__title {
		font-size: 22px;
		line-height: 28px;
	}
	.header__nav {
		padding: 0px 10px;
	}
	.header__region, .sites__toggle {
		padding: 6px;
	}
	.mobile-btns {
		display: flex;
	}
	.sites__toggle {
		display: block;
	}
	.sites-nav__list {
		display: none;
	}
	.logo {
		display: none;
	}
	.mobile-logo {
		display: block;
	}
	.hero-section {
		padding: 0;
	}
	.hero-section__content {
		min-height: 240px;
	}
	.hero-section__title {
		font-size: 28px;
		line-height: 34px;
		margin-bottom: 20px;
	}
	.hero-section__subtitle {
		font-size: 15px;
	}
	.advantages-section {
		padding-bottom: 0;
	}
	.advantages-section__title {
		margin-bottom: 32px;
	}

	.flex-grid {
		flex-direction: column;
	}
	.column {
		width: 100%;
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.advantages-section__subtitle {
		margin-bottom: 30px;
	}
	.advantage {
		margin-bottom: 45px;
		padding: 0;
		max-width: none;
	}
	.advantage__icon {
		position: static;
		margin-bottom: 32px;
	}
	.advantage__content {
		padding-bottom: 0;
		border-bottom: 0;
	}
	.advantage__title {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 12px;
	}

	.slider-section {
		padding-bottom: 20px;
	}
	.slider {
		min-height: 510px;
	}
	.slider-block.active {
		padding: 40px 16px 55px;
		width: 100%;
		max-width: 100%;
	}
	.slider-block {
		width: 100%;
		max-width: 0;
		padding: 0;
		border: 0 !important;
	}
	.slider-block.active .slider-block__title {
		font-size: 22px;
		line-height: 28px;
	}
	.slider-block.active .slider-block__subitle {
		font-size: 15px;
		line-height: 24px;
	}
	.slider-block__arr {
		display: none;
	}
	.prev, .next {
		display: block;
	}
	.slider-dots {
		display: flex;
	}
	.rate-section__tabs {
		margin-bottom: 55px;
	}
	.rate-list {
		margin-right: -16px;
	}
	.tab__menu-item {
		margin-right: 35px;
	}
	.howtouse {
		margin-bottom: 55px;
	}
	.howtouse__content {
		padding: 55px 16px;
		margin: auto -16px;
	}
	.howtouse-block__title {
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 0.5px;
		line-height: 24px;
		letter-spacing: 0.5px;
	}
	.smartphone__list {
		overflow: auto;
		margin-right: -16px;
	}
	.smartphone {
		min-width: 250px;
	}
	.vowifi__content {
		margin: auto -16px;
	}
	.vowifi__left {
		min-height: 240px;
		padding: 30px 16px;
	}
	.vowifi__right {
		padding: 0px 16px;
	}
	.vowifi__subtitle {
		margin-bottom: 60px;
	}
	.vowifi-item__title {
		font-size: 18px;
		letter-spacing: 0.5px;
		line-height: 24px;
		margin-bottom: 12px;
	}
	.faq__section-title {
		margin-bottom: 40px;
	}
}