<footer class="footer">
	<div class="footer__top">
		<div class="uk-container uk-container--small">
			<div class="uk-grid">
				<div class="uk-width-small-4-4 uk-width-medium-2-4 uk-width-large-1-4">
					<a href="index.html" class="logo footer__logo"><img src="img/logo.svg" alt="Древцентр" class="logo__img"></a>
					<div class="footer__counter">
						<img src="img/counter.jpg" alt="">
					</div>
				</div>
				<div class="uk-width-small-4-4 uk-width-medium-2-4 uk-width-large-1-4">
					<div class="footer-menu">
						<div class="footer-menu__title"><a href="" class="footer-menu__title">Проекты</a></div>
						<ul class="footer-menu__list">
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Одноэтажные дома</a></li>
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Двухэтажные дома</a></li>
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Бани</a></li>
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Проекты домов 6х6</a></li>
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Проекты домов 6х9</a></li>
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Проекты домов 7х7</a></li>
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Проекты домов 8х8</a></li>
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Проекты домов из профилированного бруса</a></li>
						</ul>
					</div>
				</div>
				<div class="uk-width-small-4-4 uk-width-medium-2-4 uk-width-large-1-4">
					<div class="footer-menu">
						<div class="footer-menu__title"><a href="" class="footer-menu__title">Услуги</a></div>
						<ul class="footer-menu__list">
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Ленточные фундаменты</a></li>
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Свайно-винтовые фундаменты</a></li>
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Кровли из профнастила</a></li>
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Кровли из металлочерепицы</a></li>
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Доставка домокомплектов</a></li>
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Черновая отделка</a></li>
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Отделка под ключ</a></li>
						</ul>
					</div>
				</div>
				<div class="uk-width-small-4-4 uk-width-medium-2-4 uk-width-large-1-4">
					<div class="footer-menu">
						<div class="footer-menu__title"><a href="" class="footer-menu__title">О компании</a></div>
						<ul class="footer-menu__list">
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Акции</a></li>
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Контакты</a></li>
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Документы и разрешения</a></li>
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Заготовка леса</a></li>
							<li class="footer-menu__item"><a href="" class="footer-menu__link">Производство бруса</a></li>
						</ul>
						<a href="http://drevcenter.ru/" class="button footer__button" target="_blank">Старая верия сайта</a>
					</div>
				</div>
			</div>
		</div><!-- uk-container uk-container--small -->		
	</div><!-- footer__top -->

	<div class="footer__bottom">
		<div class="uk-container uk-container--small">
			© 2010 - 2019 Все права принадлежат правообладателям.
			Копирование материалов запрещено. <br> 
			Вся информация на сайте носит исключительно справочный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 ГКРФ.			
		</div>
	</div>
</footer>

<span class="icon icon-arrow-up go-to-top" title="Наверх" id="go-to-top"></span>