<header class="header">
	<div class="header__top uk-visible-large">
		<div class="uk-container uk-container--small">
			<div class="header__content">
				<a href="index.html" class="logo header__logo"><img src="img/logo.svg" alt="Древцентр" class="logo__img"></a>
				<div class="header__slogan">Твой дом&nbsp;— <br>твоя крепость</div>
				<div class="header__contact">
					<a href="tel:8(960)7471570" class="header__phone header__phone--icon">(960)&nbsp;747&nbsp;15&nbsp;70</a>
					<a href="mailto:info@drevcentr.ru" class="header__email">info@drevcentr.ru</a>
				</div>
				<div class="header__contact">
					<a href="tel:8(499)7057717" class="header__phone">(499)&nbsp;705&nbsp;77&nbsp;17</a>
					<div class="header__favorites">
						<a href="#" class="header__favorites-link">Избранные проекты</a>			
						<span class="header__favorites-value">2</span>
					</div>
				</div>
			</div><!-- header__content -->
		</div><!-- uk-container uk-container--small -->	
	</div><!-- header__top -->
	
	<div class="header__bottom uk-visible-large">
		<div class="uk-container uk-container--small">
			<nav class="uk-nav main-nav uk-clearfix">
				<ul class="uk-navbar-nav main-nav__list">
					<li class="uk-parent main-nav__item uk-active">
						<a href="index.html" class="main-nav__link">Главная</a>
					</li>
					<li class="uk-parent main-nav__item" data-uk-dropdown='{delay: 0, remaintime: 50}'>
						<a href="projects.html" class="main-nav__link">Проекты</a>
						<div class="uk-dropdown uk-dropdown-small uk-dropdown--subnav">
							<ul class="main-subnav__list">
								<li class="main-subnav__item"><a class="main-subnav__link" href="projects-with-filter.html">Дома из бруса</a></li>
								<li class="main-subnav__item"><a class="main-subnav__link" href="projects-with-filter.html">Бани из бруса</a></li>
							</ul>
						</div>
					</li>
					<li class="uk-parent main-nav__item">
						<a href="services.html" class="main-nav__link">Наши услуги</a>
					</li>
					<li class="uk-parent main-nav__item" data-uk-dropdown='{delay: 0, remaintime: 50}'>
						<a href="foto-report.html" class="main-nav__link">Фотоотчеты</a>
						<div class="uk-dropdown uk-dropdown-small uk-dropdown--subnav">
							<ul class="main-subnav__list">
								<li class="main-subnav__item"><a class="main-subnav__link" href="foto-report-detail.html">Строительство домов из бруса</a></li>
								<li class="main-subnav__item"><a class="main-subnav__link" href="foto-report-detail.html">Строительство фундаментов</a></li>
								<li class="main-subnav__item"><a class="main-subnav__link" href="foto-report-detail.html">Отделочные работы</a></li>
							</ul>
						</div>
					</li>
					<li class="uk-parent main-nav__item">
						<a href="video-rewiews.html" class="main-nav__link">Видео отзывы</a>
					</li>
					<li class="uk-parent main-nav__item">
						<a href="" class="main-nav__link">Производство</a>
					</li>
					<li class="uk-parent main-nav__item">
						<a href="contact.html" class="main-nav__link">Контакты</a>
					</li>
				</ul>
			</nav><!-- main-nav -->	
		</div><!-- uk-container uk-container--small -->		
	</div><!-- header__bottom -->

	<!-- <div class="header__sticky" data-uk-sticky="{top:-100, animation: 'uk-animation-slide-top'}"> -->
	<div class="header__sticky">
		<div class="uk-container uk-container--small">
			<div class="header__content">
				<a href="index.html" class="logo header__logo header__logo--sticky"><img src="img/logo.svg" alt="Древцентр" class="logo__img logo__img--sticky"></a>
				<div class="header__contact header__contact--sticky uk-visible-large">
					<a href="tel:8(960)7471570" class="header__phone header__phone--icon header__phone--sticky">(960)&nbsp;747&nbsp;15&nbsp;70</a>
				</div>
				<div class="header__contact header__contact--sticky uk-visible-large">
					<a href="tel:8(499)7057717" class="header__phone header__phone--sticky">(499)&nbsp;705&nbsp;77&nbsp;17</a>
				</div>
				<a href="mailto:info@drevcentr.ru" class="header__email uk-visible-large">info@drevcentr.ru</a>
				<div class="header__burger">
					<a href="#mobileMenu" class="header__burger-link uk-hidden-large" data-uk-offcanvas="{mode:'slide'}"><span class="icon icon-burger header__burger-icon"></span></a>	
				</div>
			</div><!-- header__content -->
		</div><!-- uk-container uk-container--small -->
	</div>
	<div id="mobileMenu" class="uk-offcanvas">
	    <div class="uk-offcanvas-bar uk-offcanvas-bar-flip mobile-menu">
			<ul class="uk-nav uk-nav-offcanvas mobile-menu__list">
				<li class="uk-parent mobile-menu__item uk-active"><a href="index.html" class="mobile-menu__link">Главная</a></li>
				<ul class="uk-nav uk-nav-side uk-nav-parent-icon mobile-submenu__list" data-uk-nav>
				    <li class="uk-parent mobile-menu__item"><a href="#">Проекты</a>
				        <ul class="uk-nav-sub mobile-submenu__list">
				            <li class="mobile-submenu__item"><a class="mobile-submenu__link" href="projects-with-filter.html">Дома из бруса</a></li>
				            <li class="mobile-submenu__item"><a class="mobile-submenu__link" href="projects-with-filter.html">Бани из бруса</a></li>
				        </ul>
				    </li>
				</ul>
				<li class="uk-parent mobile-menu__item"><a href="services.html" class="mobile-menu__link">Наши услуги</a></li>
				<ul class="uk-nav uk-nav-side uk-nav-parent-icon mobile-submenu__list" data-uk-nav>
				    <li class="uk-parent mobile-menu__item"><a href="foto-report.html">Наши фотоотчеты</a>
				        <ul class="uk-nav-sub mobile-submenu__list">
				            <li class="mobile-submenu__item"><a class="mobile-submenu__link" href="foto-report-detail.html">Строительство домов из бруса</a></li>
				            <li class="mobile-submenu__item"><a class="mobile-submenu__link" href="foto-report-detail.html">Строительство фундаментов</a></li>
				            <li class="mobile-submenu__item"><a class="mobile-submenu__link" href="foto-report-detail.html">Отделочные работы</a></li>
				        </ul>
				    </li>
				</ul>
				<li class="uk-parent mobile-menu__item"><a href="video-rewiews.html" class="mobile-menu__link">Видео отзывы</a></li>
				<li class="uk-parent mobile-menu__item"><a href="" class="mobile-menu__link">Производство</a></li>
				<li class="uk-parent mobile-menu__item"><a href="contact.html" class="mobile-menu__link">Контакты</a></li>

			</ul>
	    </div>
	</div>
</header>