<script src="js/libs/jquery-2.2.4.min.js"></script>
<script src="js/libs/uikit.min.js"></script>
<script src="js/libs/sticky.min.js"></script>
<script src="js/libs/lightbox.min.js"></script>
<script src="js/libs/tooltip.min.js"></script>
<script src="js/libs/slick.min.js"></script>
<script src="js/libs/select2.full.min.js"></script>
<script src="js/libs/nouislider.min.js"></script>
<script src="js/libs/accordion.min.js"></script>
<script src="js/libs/jquery.maskedinput.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="js/scripts.js"></script>